article.about {
  @include outer-container;
  padding: em(24);
  padding-top: em(24);
  section.content {
    @include media($medium-screen) {
      @include span-columns(6);
    }
  }
  aside {
    margin-bottom: em(24);
    padding-bottom: em(24);
  }
}


