article.about {
  @include outer-container;
  padding: em(24);
  margin-top: em(54);
  @include media($large-screen) {
    padding: 0;
  }
  section.content {
    @include media($medium-screen) {
      @include span-columns(6);
    }
  }
  aside {
    margin-bottom: em(24);
    padding-bottom: em(24);
  }
}


