.bullets {
  $base-line-height: 1.5em !default;
  $base-accent-color: $action-color;
  $base-link-color: $base-accent-color !default;
  $dark-gray: #333 !default;
  $base-font-color: $dark-gray !default;

  padding: 0;

  h2 {
    margin: 0;
  }

  li {
    list-style: none;
  }

  p {
    line-height: $base-line-height;
  }


  $icon-bullet-size: 3.5em;
  i {
    font-size: 2em;
    color: lighten($action-color, 10%);
  }


  @include display(flex);
  @include flex-wrap(wrap);
  margin-bottom: $base-line-height;
  margin: 1em 0px;
  overflow: auto;

  .bullet {
    @include media($medium-screen){
      @include flex-basis(15em);
    }
    @include media($large-screen){
      @include flex-basis(20em);
    }
    @include flex-grow(1);
    padding-right: 16px;
    margin-right: em(36);
  }

  .bullet-icon {
    text-align: center;
    @include media($large-screen) {
      float: left;
      padding-left: 1.8em;
      margin-right: 1em;
    }
    padding-top: .4em;
  }

  .bullet-content {
    margin-bottom: 2em;
  }


  h2 {
    border-bottom: 1px solid transparentize($base-font-color, 0.8);
    @include media($large-screen) {
      display: inline-block;
    }
    font-size: $icon-bullet-size / 2.5;
    margin-bottom: $icon-bullet-size / 6;
    padding-top: $icon-bullet-size / 7;
    text-align: center;
  }
}

