article.contact {
  padding-top: em(24);
  aside {
    @include media($portrait-screen) {
      float: right;
    }
    @include media($medium-screen) {
      float: right;
    }
    margin-bottom: em(24);
  }

  section.data {
    i {
      margin-right: em(16);
    }
  }
}
