article.contact {
  aside {
    @include media($medium-screen) {
      float: right;
    }
    margin-bottom: em(24);
  }

  section.data {
    i {
      margin-right: em(16);
      color: $green;
    }
  }
}
