.wrapper {
  @include outer-container;
  article.event
  {
    padding-top: em(36);
    aside {
      float:right;
      @include span-columns(4);
    }

    header {
      margin-top: em(24);
    }

    section.practical {
      margin-bottom: em(24);
    }

    section.content {
      @include span-columns(6);
    }
  }
  
}
