section.home {
  padding: em(24);
  padding-top: 1.5em;
  @include outer_container;
  @include media($large-screen){
    padding: 0;
  }
}

.hero {
  @include clearfix;
  
  @include media($medium-screen) {
    @include span-columns(12);
    margin-top: 54px;
  }
  .bodytext {
    .cta {
      text-align: center;
      margin-bottom: em(36);
    } 
    @include media($medium-screen) {
      @include span-columns(4 of 12);
    }
  }

  aside {
    display: none;
    @include media($medium-screen) {
      display: block;
      @include span-columns(8 of 12);
      @include omega;
    }
  }
}

.tagline {
  text-align: center;
  font-size: em(16);
  @include media($medium-screen){
    font-size: em(24);
  }
  margin-bottom: 54px;
  color: $brown;
}

p i.fa-download {
  font-size: 1em;
  margin-right: .5em;
}

p.title {
  font-weight: 600;
}

p.more {
  font-size: $base-font-size * .8;
  text-align: right;
  font-weight: 600;
}

time {
  font-style: italic;
  font-size: .9em;
  font-weight: 400;
}
