section.home {
  @include outer_container;
}

.hero {

  @include span-columns(12);
  margin-top: 54px;

  .bodytext {
    @include span-columns(4 of 12);
  }

  aside {
    @include span-columns(8 of 12);
    @include omega;
  }
}

.tagline {
  text-align: center;
  font-size: em(24);
  margin-bottom: 54px;
  color: $brown;
}

p i.fa-download {
  font-size: 1em;
  margin-right: .5em;
}

p.title {
  font-weight: 600;
}

p.more {
  a { color: $green; }
  text-align: right;
  font-weight: 600;
}

time {
  font-style: italic;
  font-size: .9em;
  font-weight: 400;
}




