  #main {
      min-height: 100%;
        height: auto !important;
          height: 100%;
            margin: 0 auto -6em;
          }

          html, body {
              height: 100%;
            }

.action {
  color: $yellow;
}

.push {
  height: 50px;
  @include media($large-screen) {
    height: 4em;
    padding: 4em;
  }
}

h1 {
  font-size: $base-font-size * 2.25;
}

h2 {
  color: $action-color;
}

a {
  &:hover {
    color: $blue;
  }
}



i {
  color: $green;
  &.left {
    margin-right: em(8);
  }

  &.right {
    margin-left: em(8);
  }
}

.date {
  font-style: italic;
  font-size: .9em;
  
}
