---
title: "About Refract"
description: "Refract is a Research network on Fragmentation and Complexity in Global Governance"
---
<article class="about">
  <header>
    <h1>About Refract</h1>
  </header>
  <section class="content">
    <p>Refract is a Research network on "Fragmentation and Complexity in Global Governance." It is a five-year project (2015-2019), sponsored by the Research Foundation - Flanders (FWO).</p>
    <p>The aim of the research network is to foster international scientific exchanges and dialogues on regime complexes and institutional fragmentation. Due the growing proliferation of international institutions and regimes, many issues in world politics today fall under the authority of multiple institutions, both private and public. Such a composite galaxy of international institutions and regimes that are valid or active in a particular area has been dubbed a ‘regime complex’. Regime complexes have attracted the attention of a growing number of scholars of world politics as they beg important theoretical questions pertaining to their origins, consequences, and management.</p>
    </p>The aim of the research network is to sustain and expand inter-disciplinary research into regime complexes.</p>
  </section>
  <aside><%= image_tag "small-banner-1.jpg" %><aside>
</article>

