---
title: "Amandine Orsini"
description: "Amandine Orsini is professor of international relations at the Political Science Research Center (CresPo) of the Université Saint-Louis in Brussels"
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Amandine Orsini</a>
  </nav>
  <header>
    <h1 itemprop="name">Amandine Orsini</h1>
  </header>
  <aside>
  <img src="images/amandine-orsini.jpg" alt="amandine orsini" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:amandine.orsini@usaintlouis.be" itemprop="email">amandine.orsini@usaintlouis.be</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:003292646864" itemprop="telephone">+32 2 792 36 24</a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">CReSPo - Research center on political science<br />
      Université Saint-Louis, Brussels<br >
      Boulevard du Jardin botanique, 43<br />
      1000 Brussels
    </span>
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation"><a href="http://www.crespo.be/membres" rel="external">Research center on political science</a><i class="fa fa-external-link right"></i></p>
    <h2>Biography</h2>
    <p>Amandine Orsini is professor of international relations at the Political Science Research Center (CresPo) of the Université Saint-Louis in Brussels, where she teaches International Relations and International Organisations.</p>
    <p>She has recently published on regime complexes in Global Governance (co-editing a special section), in the Review of International Studies and in Global Environmental Politics; on global environmental politics in the International Studies Review (co-editing a forum) and in Critical Policy Studies; and on business lobbying in Global Society, Environmental Politics and Business &amp; Society.</p><p>In 2014 she edited the book The European Union with(in) International Organisations (Ashgate) and she co-edited the encyclopaedia Essential Concepts of Global Environmental Governance (Routledge).</p>

  </div>
</article>
