---
title: "Beatriz Mart&iacute;nez Romera"
description: "Beatriz Martinez Romera (PhD, MSc, LLM)  is a teaching and research fellow at  the Faculty of Law, University of Copenhagen"
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Associated Scholars</a>
    <a href="javascript:void(0)">Beatriz Mart&iacute;nez Romera</a>
  </nav>
  <header>
    <h1 itemprop="name">Beatriz Mart&iacute;nez Romera</h1>
  </header>
  <aside>
  <img src="images/beatriz-martinez-romera.jpg" alt="no image" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:Beatriz.martinez.romera@jur.ku.dk" itemprop="email">Beatriz.martinez.romera@jur.ku.dk</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:004535323180" itemprop="telephone">+45 35323180</a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">Faculty of Law - University of Copenhagen<br />
    Studiestræde 6, 3. Sal<br />
    1455 Copenhagen K - Denmark</span> 
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation">CEVIA (Center for Virksomhedsansvar), Faculty of Law, University of Copenhagen</p>
    <section class="biography">
    <h2>Biography</h2>
    <p>Beatriz Mart&iacute;nez Romera (PhD, MSc, LLM)  is a teaching and research fellow at  the Faculty of Law, University of Copenhagen, working on environmental and climate change law and governance. She has an academic background in Law and Political Science and wrote her PhD thesis on the regulation of greenhouse gas emissions from international aviation and maritime transport (2015).</p>
    </section
  </div>
</article>
