---
title: "Benjamin Faude"
description: "Benjamin Faude is research fellow of the Research Unit Global Governance"
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Benjamin Faude</a>
  </nav>
  <header>
    <h1 itemprop="name">Benjamin Faude</h1>
  </header>
  <aside>
  <img src="images/benjamin-faude.jpg" alt="benjamin faude" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:benjamin.faude@wzb.eu" itemprop="email">benjamin.faude@wzb.eu</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:493025491568" itemprop="telephone">+49 30 25491 568</a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">WZB Berlin Social Science Center<br />
    Reichpietschufer 50<br />
    D-10785 Berlin</span> 
    </p>
  </div>
</article>
