<div class="wrapper">
  <article class="newsarticle">
    <div class="breadcrumb">
      <a href="/news.html">News</a>
      <a href="javascript:void(0)">Call for Proposals</a>
    </div>
    <div class="content">
    <header>
      <h1>Call for Proposals</h1>
    </header>
    <footer>
        <p class="date">Posted on <time datetime="2015-11-09">9 November 2015</time></p>
    </footer>
    <section class="practical">
    </section>
    <section class="bodytext">
      <p>We are inviting proposals for a workshop to be held in Québec City on September 30 – October 1, 2016. The theme is “The Evolution of Institutional Complexes: A Biological Turn in the Study of International Institutions?”</p>
      <p><i class="fa fa-download"></i><a href="documents/call-for-papers-quebec-city-2016.pdf">call-for-papers-quebec-city-2016.pdf</a></p>
    </section>
    </div>
    <aside>
      &nbsp;
    </aside>
  </article>
</div>
