---
title: "Carlos Soria Rodriguez"
description: "Carlos Soria Rodríguez is a doctoral researcher at the Institute for European Studies, Vrije Universiteit Brussel (VUB)" 
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Carlos Soria Rodriguez</a>
  </nav>
  <header>
    <h1 itemprop="name">Carlos Soria Rodriguez</h1>
  </header>
  <aside>
  <img src="images/carlos-soria-rodriguez.jpg" alt="carlo soria rodriguez" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:carlos.soria.rodriguez@vub.ac.be" itemprop="email">carlos.soria.rodriguez@vub.ac.be</a><br />
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation"><a href="http://www.ies.be" rel="external">Institute for European Studies</a><i class="fa fa-external-link right"></i></p>
    <section class="biography">
    <h2>Biography</h2>
    <p>Carlos Soria Rodríguez is a doctoral researcher at the Institute for European Studies (IES), Vrije Universiteit Brussel (VUB). In his PhD project, he analyses the regulation of marine renewable energies in the EU maritime spaces.</p>
    <p>He holds a degree in Law and a Master in integral industrial security and occupational hazard prevention both from University of Seville (Spain) and a LLM in Environmental Law from Vermont Law School (United States).</p>
    <p>His research interests include Public International Law and EU Law. More specifically, topics related to the environment, sea, energy and climate change.</p>
    </section
  </div>
</article>
