<div class="wrapper">
  <article class="contact">
    <header>
      <h1>Contact Information</h1>
    </header>
    <aside>
      <%= image_tag "banner-300x156.jpg" %>
    </aside>
    <section class="data">
      <h2>Prof. dr. Thijs Van de Graaf</h2>
      <p>
      <i class="fa fa-map-marker"></i>Universiteitstraat 8, B-9000 Gent<br />
      <i class="fa fa-phone"></i>+32 9264 68 74<br />
      <i class="fa fa-fax"></i>32 9 264 69 91<br />
      <i class="fa fa-envelope"></i><a href="mailto:thijs.vandegraaf@ugent.be">thijs.vandegraaf@ugent.be</a></p>
    </section>
  </article>
</div>
