---
title: "Dirk De Bi&egrave;vre"
description: "Daniel Biltereyst is Full Professor in Film and Media Studies at the Communication Studies Department at Ghent University" 
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Dirk De Bi&egrave;vre</a>
  </nav>
  <header>
    <h1 itemprop="name">Dirk De Bi&egrave;vre</h1>
  </header>
  <aside>
  <img src="images/dirk-de-bievre.jpg" alt="dirk de bi&egrave;vre" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:dirk.debievre@uantwerpen.be" itemprop="email">dirk.debievre@uantwerpen.be</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:3232655721" itemprop="telephone">+32 3 265 57 21</a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">Faculteit Sociale Wetenschappen<br />
      Universiteit Antwerpen<br />
      Sint-Jacobstraat 2<br />
      BE-2000 Antwerpen</span> 
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation">Antwerp Centre for Institutions and Multilevel Politics (ACIM)</p>
    <h2>Biography</h2>
    <p>Dirk De Bièvre is Associate Professor at the Department of Political Science of the University of Antwerp and the Antwerp Centre for Institutions and Multilevel Politics (ACIM) in Flanders, Belgium.</p>
    <p>He studied in Leuven, Louvain-la-Neuve, and Konstanz, and obtained his PhD in social and political sciences at the European University Institute in San Domenico di Fiesole, Italy, in 2002. His main research interests are EU trade policy, interest groups, and the World Trade Organization – topics about which he published among others in Comparative Political Studies, Regulation and Governance, Journal of European Public Policy, Journal of Public Policy, World Trade Review, and Global Policy.</p>
    <p>Together with Sieglinde Gstöhl (College of Europe, Brugge), he is the author of The Trade Policy of the European Union in the EU Series of Palgrave Macmillan. Together with Arlo Poletti (UA / LUISS University, Rome), he is the author of an ECPR Press book on Judicial politics and international cooperation: dispute settlement and deal-making in the World Trade Organization.</p>
    <p>He previously was a post-doctoral researcher at the Max Planck Institute for Research on Collective Goods in Bonn, an EU and Volkswagen Foundation research fellow at the Mannheim Centre for European Social Research (MZES) of the University of Mannheim, and a visiting fellow at the Department of Government of the London School of Economics and Political Science (LSE) during the academic year 2014-15. </p>
  </div>
</article>
