<div class="wrapper">
  <article class="event">
    <div class="breadcrumb">
      <a href="/events.html">Events</a>
      <a href="javascript:void(0)">Refract Kick-Off Meeting, June 25-26</a>
    </div>
    <header>
      <h1>Refract Kick-Off Meeting, June 25-26</h1>
    </header>
    <aside>
      <%= image_tag "banner-300x156.jpg" %>
    </aside>
    <section class="practical">
      <ul>
        <li><i class="fa fa-calendar left"></i>June 25-26 2015</li>
      <li><i class="fa fa-map-marker left"></i>Institute for European Studies, VUB, Brussels &hellip;</li>
      <li><i class="fa fa-link left"></i><a href="http://www.deredactie.be">www.deredactie.be</a></li>
      </ul>
    </section>
    <section class="content">
      <p>bacon ipsum dolor amet ground round porchetta leberkas, picanha flank tongue doner. Short ribs cupim boudin fatback beef ribs strip steak rump pork chop bacon andouille tenderloin landjaeger pastrami ham</p>
    </section>
  </article>
</div>
