---
title: "Refract Events"
description: "The Research on Fragmentation and Complexity in Global Governance network organizes a couple of academic events every year.jpg"
---
<div class="wrapper">
<article class="intro">
  <header><h1>Refract Events</h1></header>
</article>

<section class="events">
  <ul class="accordion-tabs-minimal">
    <li class="tab-header-and-content">
      <a href="#" class="tab-link is-active">Upcoming</a>
      <div class="tab-content">
        </div>
    </li>
    <li class="tab-header-and-content">
      <a href="#" class="tab-link">Past</a>
      <div class="tab-content">
        <article class="event">
          <aside>
            <%= image_tag "banner-300x156.jpg" %>
          </aside>
          <section class="bodytext">
            <header>
              <h2><a href="workshop-boundary-organizations-in-international-affairs.html">Workshop on "Boundary Organizations in International Affairs"</a></h2>
            </header>
            <p>Location: Brussels, Belgium, August 26-27, 2015 &hellip;</p>
          </section>
        </article>
        <article class="event">
          <aside>
            <%= image_tag "banner-300x156.jpg" %>
          </aside>
          <section class="bodytext">
            <header>
              <h2><a href="/refract-kick-off-meeting.html">Refract Kick-Off Meeting, June 25-26</a></h2>
            </header>
            <p>Location: Institute for European Studies, VUB, Brussels &hellip;</p>
          </section>
        </article>
      </div>
    </li>
  </ul>
</section>
</div> 
<script> 
$(document).ready(function () {
  $('.accordion-tabs-minimal').each(function(index) {
    $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
  });

  $('.accordion-tabs-minimal').on('click', 'li > a', function(event) {
    if (!$(this).hasClass('is-active')) {
      event.preventDefault();
      var accordionTabs = $(this).closest('.accordion-tabs-minimal');
      accordionTabs.find('.is-open').removeClass('is-open').hide();

      $(this).next().toggleClass('is-open').toggle();
      accordionTabs.find('.is-active').removeClass('is-active');
      $(this).addClass('is-active');
    } else {
      event.preventDefault();
    }
  });
});
</script>
