---
title: "Fariborz Zelli"
description: "Dr. Fariborz Zelli is an Associate Professor at the Department of Political Science at Lund University."
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Fariborz Zelli</a>
  </nav>
  <header>
    <h1 itemprop="name">Fariborz Zelli</h1>
  </header>
  <aside>
  <img src="images/fariborz-zelli.jpg" alt="fariborz zelli" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:fariborz.zelli@svet.lu.se" itemprop="email">fariborz.zelli@svet.lu.se</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:46462224764" itemprop="telephone">+46 46 222 4764</a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">Department of Political Science<br />
      Lund University<br />
      Box 52 22100 Lund Sweden</span> 
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation">Environmental Politics Research Group, Lund University</p>
    <h2>Biography</h2>
    <p>Dr. Fariborz Zelli is an Associate Professor at the Department of Political Science at Lund University. His major research interests include institutional complexity, global climate governance, deforestation, and the environmental role of the World Trade Organization. He is directing the international project NAVIGOV on ‘Navigating Institutional Complexity in Global Climate Governance’. The project is funded by the Swedish research council Formas and focuses on institutional fragmentation in three fields of climate governance: short-lived climate pollutants, reducing emissions from deforestation and forest degradation (REDD), and climate geo-engineering.</p>
    <p>Prior to joining Lund University, he worked at the German Development Institute and the Tyndall Centre for Climate Change Research.</p>
    <p>He is vice-chair of the Environmental Studies Section of the International Studies Association and academic advisor to the Earth System Governance Project.</p>
    <p>His publications include a special issue of Global Environmental Politics on institutional fragmentation (2013, as guest editor) and Global Climate Governance Beyond 2012 (2010, Cambridge University Press). He has further published on institutional fragmentation with MIT Press, Elgar and Routledge and the journals Global Governance and WIREs: Climate Change.</p>
  </div>
</article>
