---
title: "Harro van Asselt"
description: "Dr. Harro van Asselt is Senior Research Fellow at the Stockholm Environment Institute" 
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Harro van Asselt</a>
  </nav>
  <header>
    <h1 itemprop="name">Harro van Asselt</h1>
  </header>
  <aside>
  <img src="images/harro-van-asselt.jpg" alt="harro van asselt" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-home left"></i>
    <span itemprop="address">Stockholm Environment Institute<br />
      Florence House, 29 Grove Street<br />
      Oxford OX2 7JT<br />
      United Kingdom</span>
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation">Stockholm Environment Institute</p>
    <h2>Biography</h2>
    <p>Dr. Harro van Asselt is Senior Research Fellow at the Stockholm Environment Institute.  He has over 10 years research experience in different research organisations, focusing on various aspects of international climate change law and policy.</p>
    <p>He is Editor of the Review of European, Comparative and International Environmental Law (RECIEL) and has published extensively in peer-reviewed academic journals and edited books, and is the author of The Fragmentation of Global Climate Governance (Edward Elgar, 2014). Harro holds a PhD (cum laude) from the VU University Amsterdam (2013)</p>
  </div>
</article>
