---
title: "Harri Kalimo"
description: "Harri Kalimo is a professor and a Senior Research Fellow at the IES"
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Harri Kalimo</a>
  </nav>
  <header>
    <h1 itemprop="name">Harri Kalimo</h1>
  </header>
  <aside>
  <img src="images/harri-kalimo.jpg" alt="harri kalimo" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="harri.kalimo@vub.ac.be" itemprop="email">Harri.Kalimo@vub.ac.be</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:32498974707" itemprop="telephone">+32 (0)498 974707</a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">Vrije Universiteit Brussel<br />
    Institute for European Studies<br />
    Pleinlaan 2, 1050 Brussels, Belgium</span> 
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation">Institute  for European Studies</p>
    <section class="biography">
    <h2>Biography</h2>
    <p>Harri Kalimo is a professor and a Senior Research Fellow at the IES. He is the (Co-)Director of the post-graduate LL.M. and M.Sc. Programmes of the IES, and manages the IES research cluster on European Economic Governance and actively contributes to that on Environment and Sustainable Development.</p>
    <p>Harri's research interests link to regime complexes and fragmentation from the perspective of value reconciliation. He has researched in particular the relationship between environmental law and trade law in the European Union and the United States. In the environmental field, Harri works on e.g. Extended Producer Responsibility (EPR) and biofuels.</p>
    /section
  </div>
</article>
