---
title: "Ina M&ouml;ller"
description: "Thijs Van de Graaf is an assistant professor (tenure track) of International Politics at the Ghent Institute for International Studies" 
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Associated Scholars</a>
    <a href="javascript:void(0)">Ina M&ouml;ller</a>
  </nav>
  <header>
    <h1 itemprop="name">Ina M&ouml;ller</h1>
  </header>
  <aside>
  <img src="images/ina-moller.jpg" alt="Ina M&ouml;ller" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:ina.moller@svet.lu.se" itemprop="email">ina.moller@svet.lu.se</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:0046462228973" itemprop="telephone">+46 46 222 89 73</a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">Lund University<br />
    Department of Political Science<br />
    Paradisgatan 5H<br />221 00 Lund, Sweden</span> 
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation">Environmental Politics Research Group</p>
    <section class="biography">
    <h2>Biography</h2>
    <p>Ina Möller is a PhD candidate at the Department of Political Science at Lund University, Sweden. Her research interests include environmental governance, science-policy interface and institutional complexity. In her PhD project, she is assessing the causes and consequences of fragmentation in climate engineering governance.</p>
    <p>Ina has a background in political science and sustainability studies. Prior to starting her PhD programme, she studied at the University of Konstanz and Lund University. She has gained practical experience in global environmental policy issues by interning at the United Nations Environmental Programme office in Brussels and by working as a research assistant in the Earth System Governance project office in Lund.</p>
    </section
  </div>
</article>
