---
title: "research on fragmentation and complexity in global governance"
description: "The aim of the research network is to foster international scientific exchanges and dialogues on regime complexes and institutional fragmentation"
---
<section class="home">
  <div class="hero">
    <div class="bodytext">
      <h2>Upcoming event</h2>
      <p>Workshop The Dynamics of Dissent: Direct and Indirect Norm Contestation (Nuffield College, Oxford, June 2-3, 2017</p>
      <form action="workshop-the-dynamics-of-dissent.html" method="get" class="cta">
        <button>More Info</button>
      </form>
    </div>
    <aside>
      <%= image_tag "kickoff-event-large.jpg" %>
    </aside>
  </div>
  <h1 class="tagline">Research on Fragmentation and Complexity In Global Governance</h1>
  <ul class="bullets">
    <li class="bullet three-col-bullet">
      <div class="bullet-icon">
        <i class="fa fa-university"></i>
      </div>
      <div class="bullet-content" data-mh="bullet">
        <h2>ABOUT REFRACT</h2>
        <p>Refract is a five-year project (2015-2019), sponsored by the 
        Research Foundation - Flanders (FWO). The aim of the research network is to foster international scientific exchanges and dialogues on regime complexes and institutional fragmentation</p>
        <p class="more"><a href="/about.html">More about Refract</a></p>
      </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-icon">
        <i class="fa fa-file"></i>
      </div>
      <div class="bullet-content" data-mh="bullet">
        <h2>OUTPUT</h2>
        <p class="title"><a href="workshop-report.html">Energy subsidies at the intersection of the climate, energy and trade regimes</a></p>
        <p>workshop report on the Refract Kick-Off event</p>
        <p class="more"><a href="/output.html">All output</a></p>
      </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-icon">
        <i class="fa fa-newspaper-o"></i>
      </div>
      <div class="bullet-content" data-mh="bullet">
        <h2>LATEST NEWS</h2>
        <p class="title"><a href="workshop-report.html">Now published: ‘The International Governance of Energy Subsidies’</a><br />
        <p>A special issue of the journal International Environmental Agreements: Politics, Law and Economics has just been published</p>
        <time datetime="2015-04-29 15:52">31 March 2017</time></p>
        <p class="more"><a href="/news.html">All news</a></p>
      </div>
    </li>
  </ul>
</section>
