---
title: Welcome to Middleman
---

<section class="home">
  <header>
    <div class="logo"></div>
  </header>
  <nav class="main">
    <ul>
      <li>ABOUT REFRACT</li>
      <li>MEMBERS</li>
      <li>EVENTS</li>
      <li>OUTPUT</li>
      <li>CONTACT</li>
    </ul>
  </nav>
  <div class="hero">
    <h2>Refract Kick-Off Meeting, June 25-26</h2>
    <p>acon ipsum dolor amet ground round porchetta leberkas, picanha flank tongue doner. Short ribs cupim boudin fatback beef ribs      strip steak rump pork chop bacon andouille tenderloin landjaeger pastrami ham
    </p>
    <button>More Info</button>
    <aside>
      <%= image_tag "banner.jpg" %>
    </aside>
  </div>
  <div class="content">
    <h1 class="tagline">Research on Fragmentation and Complexity In Global Governance</h1>
    <div class="boxes">
      <div class="box">
        <h2>About Refract</h2>
        <p>a five-year project (2015-2019), sponsored by the Research Foundation - Flanders (FWO). The aim of the research network is to foster international scientific exch dialogues on regime complexes and institutional fragmentation</p>
      </div>
      <div class="box">
        <h2>Output</h2>
        <ul>
          <li>report on globqal energy policy</li>
          <li>report on globqal energy policy</li>
          <li>report on globqal energy policy</li>
          <p class="more">All output</p>
        </ul>
      </div>
      <div class="box">
        <h2>News</h2>
        <p>Adaptive Governance in the Arctic<br />
        <time datetime="2015-03-12 15:52">12 March 2014</time></p>
        <p>Mattias Vermeiren was invited to talk at the conference on the international effects of the EMU crisis ...</p>
        <p class="more"><a href=#">All news</a></p>
      </div>
    </div>
  </div>
</section>
<footer>
  <p>&copy; 2015 Ghent University</p>
</footer>
