---
title: "research on fragmentation and complexity in global governance"
description: "The aim of the research network is to foster international scientific exchanges and dialogues on regime complexes and institutional fragmentation"
---

<section class="home">
  <div class="hero">
    <div class="bodytext">
      <h2>Refract Kick-Off Meeting, June 25-26</h2>
      <p>On June 25-26, Refract will hold its kick-off meeting in Brussels. The meeting will consist of two sessions: a brainstorming session on regime complexes and fragmentation, and a focused workshop on the governance of energy subsidies.</p>
      <form action="refract-kick-off-meeting.html" method="get" class="cta">
        <button>More Info</button>
      </form>
    </div>
    <aside>
      <%= image_tag "banner-kick-off.png" %>
    </aside>
  </div>
  <h1 class="tagline">Research on Fragmentation and Complexity In Global Governance</h1>
  <ul class="bullets">
    <li class="bullet three-col-bullet">
      <div class="bullet-icon">
        <i class="fa fa-university"></i>
      </div>
      <div class="bullet-content">
        <h2>About Refract</h2>
        <p>Refract is a five-year project (2015-2019), sponsored by the 
        Research Foundation - Flanders (FWO). The aim of the research network is to foster international scientific exchanges and dialogues on regime complexes and institutional fragmentation</p>
        <p class="more"><a href="/about.html">More about Refract</a></p>
      </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-icon">
        <i class="fa fa-file"></i>
      </div>
      <div class="bullet-content">
        <h2>Output</h2>
        <p>To be added ...</p>
        <p class="more"><a href="/output.html">All output</a></p>
      </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-icon">
        <i class="fa fa-newspaper-o"></i>
      </div>
      <div class="bullet-content">
        <h2>Latest News</h2>
        <p class="title"><a href="news-article.html">Refract Kick-Off Meeting, June 25-26</a><br />
        <time datetime="2015-04-29 15:52">29 April 2015</time></p>
        <p>On June 25-26, Refract will hold its kick-off meeting in Brussels &hellip;</p>
        <p class="more"><a href="/news.html">All news</a></p>
      </div>
    </li>
  </ul>
</section>
