---
title: Welcome to Middleman
---

<section class="home">
  <div class="hero">
    <div class="bodytext">
      <h2>Refract Kick-Off Meeting, June 25-26</h2>
      <p>acon ipsum dolor amet ground round porchetta leberkas, picanha flank tongue doner. Short ribs cupim boudin fatback beef ribs      strip steak rump pork chop bacon andouille tenderloin landjaeger pastrami ham
      </p>
      <button>More Info</button>
    </div>
    <aside>
      <%= image_tag "banner.jpg" %>
    </aside>
  </div>
  <h1 class="tagline">Research on Fragmentation and Complexity In Global Governance</h1>
  <ul class="bullets">
    <li class="bullet three-col-bullet">
      <div class="bullet-icon bullet-icon-1">
        <i class="fa fa-university"></i>
      </div>
      <div class="bullet-content">
        <h2>About Refract</h2>
        <p>Refract is a five-year project (2015-2019), sponsored by the 
        Research Foundation - Flanders (FWO). The aim of the research network is to foster international scientific exchanges and dialogues on regime complexes and institutional fragmentation</p>
        <p class="more"><a href="#">More about Refract</a></p>
      </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-icon bullet-icon-2">
        <i class="fa fa-file"></i>
      </div>
      <div class="bullet-content">
        <h2>Output</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum.</p>
      </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-icon bullet-icon-3">
        <i class="fa fa-newspaper-o"></i>
      </div>
      <div class="bullet-content">
        <h2>Latest News</h2>
        <p>Lorem ipsum sit amet consectetur adipisicing elit. Doloremque, minus, blanditiis, voluptatibus nulla quia ipsam sequi quos iusto aliquam iste magnam accusamus molestias quo illum impedit. Odit officia autem.</p>
      </div>
    </li>
  </ul>
</section>
