---
title: Welcome to Middleman
---

<section class="home">
  <div class="hero">
    <div class="bodytext">
      <h2>Refract Kick-Off Meeting, June 25-26</h2>
      <p>acon ipsum dolor amet ground round porchetta leberkas, picanha flank tongue doner. Short ribs cupim boudin fatback beef ribs      strip steak rump pork chop bacon andouille tenderloin landjaeger pastrami ham
      </p>
      <form action="event-details.html" method="get">
        <button>More Info</button>
      </form>
    </div>
    <aside>
      <%= image_tag "banner-kick-off.png" %>
    </aside>
  </div>
  <h1 class="tagline">Research on Fragmentation and Complexity In Global Governance</h1>
  <ul class="bullets">
    <li class="bullet three-col-bullet">
      <div class="bullet-icon">
        <i class="fa fa-university"></i>
      </div>
      <div class="bullet-content">
        <h2>About Refract</h2>
        <p>Refract is a five-year project (2015-2019), sponsored by the 
        Research Foundation - Flanders (FWO). The aim of the research network is to foster international scientific exchanges and dialogues on regime complexes and institutional fragmentation</p>
        <p class="more"><a href="/about.html">More about Refract</a></p>
      </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-icon">
        <i class="fa fa-file"></i>
      </div>
      <div class="bullet-content">
        <h2>Output</h2>
        <p><i class="fa fa-download left"></i><a href="#">Report on the global economy proceedings</a></p>
        <p><i class="fa fa-download left"></i><a href="#">Report on the global economy proceedings</a></p>
        <p><i class="fa fa-download left"></i><a href="#">Report on the global economy proceedings</a></p>
        <p class="more"><a href="/output.html">All output</a></p>
      </div>
    </li>
    <li class="bullet three-col-bullet">
      <div class="bullet-icon">
        <i class="fa fa-newspaper-o"></i>
      </div>
      <div class="bullet-content">
        <h2>Latest News</h2>
        <p class="title"><a href="news-article.html">Adaptive Governance in the Arctic</a><br />
        <time datetime="2015-03-09 15:52">9 March 2015</time></p>
        <p>Mary Durfee will give a lecture on the governance of the Arctic &hellip;</p>
        <p class="more"><a href="/news.html">All news</a></p>
      </div>
    </li>
  </ul>
</section>
