---
title: "Jakob Skovgaard"
description: "Jakob Skovgaard is a lecturer at Lund University (Sweden), undertaking research on EU and international climate change policy"
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Associated Scholars</a>
    <a href="javascript:void(0)">Jakob Skovgaard</a>
  </nav>
  <header>
    <h1 itemprop="name">Jakob Skovgaard</h1>
  </header>
  <aside>
  <img src="images/jakob_skovgaard.jpg" alt="jakob skovgaard" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:jakob.skovgaard@svet.lu.se" itemprop="email">jakob.skovgaard@svet.lu.se</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:4646462227209" itemprop="telephone">+4646462227209</a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">Dept of Political Science, Lund University<br />
      Box 52<br />
      2221 00 Lund, Sweden</span> 
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation">Dept of Political Science, Lund University</p>
    <section class="biography">
    <h2>Biography</h2>
    <p>Jakob Skovgaard is a lecturer at Lund University (Sweden), undertaking research on EU and international climate change policy (including research on the interaction between economic regimes), and holds a doctorate from the European University Institute in Florence. He has published recently in Global Environmental Politics, Journal of Common Market Studies, and Environmental Politics. From 2007 to 2010, he worked in the international climate change team of the Danish Finance Ministry.</p>
    </section
  </div>
</article>
