---
title: "Jean Fr&eacute;deric Morin"
description: "Frédéric Morin is Associate Professor at Laval University, where he holds the Canada Research Chair in International Political Economy"
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Jean Fr&eacute;deric Morin</a>
  </nav>
  <header>
    <h1 itemprop="name">Jean Fr&eacute;deric Morin</h1>
  </header>
  <aside>
  <img src="images/jean-frederic-morin.jpg" alt="jean frederic morin" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:jean-frederic.morin@pol.ulaval.ca" itemprop="email">jean-frederic.morin@pol.ulaval.ca</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:14186562131" itemprop="telephone">+1.418.656.2131 # 6173j</a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">Political Science Department<br />
      Pavillon Charles-De-Koninck, office 4445<br />
      1030 avenue des Sciences Humaines<br />
      Université Laval, Québec, Qc G1V 0A6, Canada</span> 
    </p>
    <h2>Affiliation</h2>
    <p><span itemprop="affiliation">Political Science Department, Laval University</span><br />
    <span itemprop="affiliation">Holder of the Canada Research Chair in International Political Economy</span></p>
    <h2>Biography</h2>
    <p>
    <p>Frédéric Morin is Associate Professor at Laval University, where he holds the Canada Research Chair in International Political Economy. Before joining Laval University, he was professor at Université libre de Bruxelles from 2008 to 2014 and post-doctoral researcher at McGill University from 2006 to 2008.</p>
    <p>His most recent research projects look at global regime complexes, transnational expert networks and policy diffusion in the fields of trade, intellectual property and environment.</p>
    <p>His recent publications appeared in leading journals such as International Studies Quarterly, European Journal of International Relations, and Review of International Political Economy. His working papers can be downloaded from <q href="https://ulaval.academia.edu/JeanFredericMorinp">https://ulaval.academia.edu/JeanFredericMorin</a></p>
  </div>
</article>
