---
title: "Johannes Urpelainen"
description: "Johannes Urpelainen is Associate Professor of Political Science at Columbia University" 
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Johannes Urpelainen</a>
  </nav>
  <header>
    <h1 itemprop="name">Johannes Urpelainen</h1>
  </header>
  <aside>
  <img src="images/johannes-urpelainen.jpg" alt="johannes urpelainen" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="ju2178@columbia.edu" itemprop="email">ju2178@columbia.edu</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:17347570161" itemprop="telephone">+1-734-757-0161
    </a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">Columbia University<br />
    Department of Political Science<br />
    420 West 118 Street, 712 IAB, New York, NY 10027, USA</span>
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation">Department of Political Science, Columbia University</p>
    <section class="biography">
    <h2>Biography</h2>
    <p>Johannes Urpelainen (PhD, University of Michigan, 2009) is Associate Professor of Political Science at Columbia University. His research focuses on international cooperation and environmental politics. The development and testing of strategies to improve the formulation of economic and environmental policy motivates much of his research.</p>
    <p>His first book, Cutting the Gordian Knot of Economic Reform, is the result of a collaboration with Leonardo Baccini from the London School of Economics and Political Science. The book was published by Oxford University Press. Drawing on both quantitative tests and extensive case studies, the research shows that leaders in developing countries have used preferential trading agreements with the European Union and the United States to secure domestic political support and enhance the implementation of initially controversial reforms. The results from the book have been featured and used by various research and policy organizations, including the United Nations.</p>
    <p>The author of more than a hundred refereed articles, Professor Urpelainen's research has been widely published in leading social science journals, such as The American Journal of Political Science, International Organization, and The Journal of Politics. He has also published extensively in economics and policy journals. He is a member of the editorial boards of Environmental and Planning C, International Interactions, and Review of Policy Research.</p>
    <p>Much of Professor Urpelainen's current research focuses on finding practical solutions to the political problems surrounding economic policy reforms in emerging economies. These projects have brought him to a number of countries in Africa, Asia, and Latin America.</p>
    </section
  </div>
</article>
