---
title: "Joshua Paine"
description: "Joshua (Josh) Paine is a PhD Candidate at the Melbourne Law School"
---
<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Joshua Paine</a>
  </nav>
  <header>
    <h1 itemprop="name">Joshua Paine</h1>
  </header>
  <aside>
  <img src="images/joshua-paine.jpg" alt="joshua paine" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:josh.paine1@gmail.com" itemprop="email">josh.paine1@gmail.com</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:61402743902" itemprop="telephone">+61 402 743 902</a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">University of Melbourne<br />
    Institute for International Law and the Humanities</span> 
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation">Institute for International Law and the Humanities</p>
    <section class="biography">
    <h2>Biography</h2>
    <p>Joshua (Josh) Paine is a PhD Candidate at the Melbourne Law School. His thesis uses the lens of environmental cases to reflect on four sites of international adjudication: dispute settlement within the World Trade Organization and the United Nations Convention on the Law of the Sea, litigation in the International Court of Justice, and investor-state arbitration.</p>
    <p>He holds an LLM in international law from Cambridge University and a BA/LLB (Hons 1) from the Australian National University. His research has been published the Leiden Journal of International Law and Journal of International Dispute Settlement and selected for presentation at major conferences, including the European Society of International Law annual conference. In 2014 he was awarded a three month visiting fellowship at the Max Planck Institute for Comparative Public Law and International Law.</p>
    </section
  </div>
</article>
