---
title: "Laura Gomez-Mera"
description: "Laura Gómez-Mera is Associate Professor of Political Science at the University of Miami " 
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Laura Gomez-Mera</a>
  </nav>
  <header>
    <h1 itemprop="name">Laura Gomez-Mera</h1>
  </header>
  <aside>
  <img src="images/laura-gomez-mera.jpg" alt="laura gomez-mera" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:lgmera@miami.edu" itemprop="email">lgmera@miami.edu</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:3052843116" itemprop="telephone">(305) 284 3116</a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">Dept. of Political Science<br>
      University of Miami<br>
      1300 Campo Sano<br>
      Coral Gables, FL 33146
    </span> 
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation">Department of Political Science, University of Miami</p>
    <section class="biography">
    <h2>Biography</h2>
    <p>Laura Gómez-Mera is Associate Professor of Political Science at the University of Miami (FL, USA), where she teaches courses in International Political Economy and International Relations.</p>
    <p>Laura’s research concentrates on international institutions and global governance, with an empirical  focus in the areas of trade, investment, and more recently, trafficking in persons and forced labor. Her work has been published (or is forthcomoing) in European Journal of International Relations, Global Governance, International Studies Quarterly, Review of International Political Economy, Studies in Comparative International Development, Journal of Latin American Studies, Latin American Politics and Society, and Journal of International Relations and Development. She is also the author of Power and Regionalism: The Politics of Mercosur (Notre Dame University Press, 2013). She is currently working on a book manuscript on the global governance of trafficking in persons and forced labor.</p>
    <p>Since 2013, Laura has also been working with colleagues from the World Bank in a project on foreign direct investment from emerging economies, looking at the ways in which political factors and international economic agreements affect the investment decisions of emerging multinationals.</p>
    </section
  </div>
</article>
