---
title: "Lea Wisken"
description: "Lea Wisken holds a Master of Arts (Hons) in International Relations and Economics from the University of St Andrews, Scotland."
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Associated Scholars</a>
    <a href="javascript:void(0)">Lea Wisken</a>
  </nav>
  <header>
    <h1 itemprop="name">Lea Wisken</h1>
  </header>
  <aside>
  <img src="images/lea-wisken.jpg" alt="lea wisken" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:lea.wisken@wzb.eu" itemprop="email">lea.wisken@wzb.eu</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:00493025491231" itemprop="telephone">+49 30 25491 231</a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">WZB Berlin Social Science Center<br />
      Reichpietschufer 50<br />
      D - 10785 Berlin
    </span> 
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation">Global Governance research unit, WZB Berlin Social Science Center</p>
    <section class="biography">
    <h2>Biography</h2>
    <p>Lea Wisken is a PhD student at the Berlin Graduate School for Transnational Studies. She is a member of the Global Governance research unit at the WZB. Her research focuses on state responses to horizontal norm conflicts in international law.</p>
    <p>Lea Wisken holds a Master of Arts (Hons) in International Relations and Economics from the University of St Andrews, Scotland.</p>
    </section
  </div>
</article>
