---
title: "Margaret Young"
description: "Margaret A. Young (PhD, LLM, LLB, BA Hons) researches and teaches in the fields of public international law, international trade law, climate change law and the law of the sea." 
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Margaret Young</a>
  </nav>
  <header>
    <h1 itemprop="name">Margaret Young</h1>
  </header>
  <aside>
  <img src="images/margaret-young.jpg" alt="margaret young" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:youngma@unimelb.edu.au" itemprop="email">youngma@unimelb.edu.au</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:0061383441097" itemprop="telephone">+61 3 834 41097</a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">Melbourne University<br />
    Institute for International Law and the Humanities</span> 
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation"><a href="http://www.law.unimelb.edu.au/institute-for-international-law-and-the-humanities" rel="external">Institute for International Law and the Humanities</a><i class="fa fa-external-link right"></i></p>
    <h2>Biography</h2>
    <p>Margaret A. Young (PhD, LLM, LLB, BA Hons) researches and teaches in the fields of public international law, international trade law, climate change law and the law of the sea.</p>
    <p>She is the author of the prize-winning Trading Fish, Saving Fish: The Interaction between Regimes in International Law (Cambridge University Press, 2011) and Regime Interaction in International Law: Facing Fragmentation (Cambridge University Press, 2012). A former Gates Scholar, she is currently working on a book on forests and climate change.</p>
  </div>
</article>
