---
title: "core members of the refract reseach network"
description: "the core members of the refract research network are: Thijs Van de Graaf, Sebastion Oberth&uuml;, Dirk De Bi&egrave;, Amandine Orsini, Jean-Fr&eacute;deric Morin, Fariborz Zelli, Thomas Gehring, Margaret Young, Harro Van Asselt and Benjamin Faude"
---
<div class="wrapper">
  <section class="members">
    <div class="member" data-mh="block">
      <a href="/thijs-van-de-graaf.html"><img src="images/thijs-van-de-graaf.jpg" alt="Thijs Van de Graaf" /></a>
      <h2><a href="/thijs-van-de-graaf.html">Thijs Van de Graaf</a></h2>
      <p><a href="http://www.giis.ugent.be">Ghent Institute for International Studies, Ghent University</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="/sebastian-oberthur.html"><img src="images/no-image-placeholder.jpg" alt="sebastian oberth&uuml;" /></a>
      <h2><a href="/sebastian-oberthur.html">Sebastian Oberth&uuml;r</a></h2>
      <p><a href="/centre-for-cinema-and-media-studies.html">Institute for European Studies, Vrije Universiteit Brussel</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="dirk-de-bievre.html"><img src="images/dirk-de-bievre.jpg" alt="dirk de bi&egrave;vre" /></a>
      <h2><a href="/dirk-de-bievre.html">Dirk De Bi&egrave;vre</a></h2>
      <p><a href="/visual-and-digital-cultures-research-center.html">Antwerp Centre for Institutions and Multilevel Politics, Antwerp University</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="amandine-orsini.html"><img src="images/amandine-orsini.jpg" alt="amandine orsini" /></a>
      <h2><a href="/amandine-orsini.html">Amandine Orsini</a></h2>
      <p><a href="/institute-for-media-studies.html">Center for Research in Political Science, Université Saint-Louis – Bruxelles</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="/jean-frederic-morin.html"><img src="images/jean-frederic-morin.jpg" alt="jean-fr&eacute;deric morin" /></a>
      <h2><a href="/jean-frederic-morin.html">Jean-Fr&eacute;deric Morin</a></h2>
      <p><a href="/institute-for-media-studies.html">Canada Research Chair in IPE, Universit&eacute; Laval</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="/fariborz-zelli.html"><img src="images/fariborz-zelli.jpg" alt="fariborz zelli" /></a>
      <h2><a href="/fariborz-zelli.html">Fariborz Zelli</a></h2>
      <p><a href="/utrecht-media-history-group.html">Environmental Politics Research Group, Lund University</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="thomas-gehring.html"><img src="images/no-image-placeholder.jpg" alt="robert c allen" /></a>
      <h2><a href="/thomas-gehring.html">Thomas Gehring</a></h2>
      <p><a href="/digital-innovation-lab.html">Chair of International Relations, University of Bamberg</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="/margaret-young.html"><img src="images/no-image-placeholder.jpg"  alt="margaret young"/></a>
      <h2><a href="/margaret-young.html">Margaret Young</a></h2>
      <p><a href="/flinders-institute-for-research-in-the-humanities.html">Institute for International Law and the Humanities, Melbourne University</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="/harro-van-asselt.html"><img src="images/no-image-placeholder.jpg" alt="harro van asselt" /></a>
      <h2><a href="/harro-van-asselt.html">Harro van Asselt</a></h2>
      <p><a href="/kinomatics-the-industrial-geometry-of-motion-pictures.html">Stockholm Environment Institute, Oxford</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="/benjamin-faude.html"><img src="images/benjamin-faude.jpg" alt="benjamin faude" /></a>
      <h2><a href="/benjamin-faude.html">Benjamin Faude</a></h2>
      <p><a href="/film-studies-research-unit.html">Global Governance Research Unit, WZB Berlin Social Science Center </a></p>
    </div>
  </section>
</div>
