---
title: "Daniël Biltereyst"
description: "Daniel Biltereyst is Full Professor in Film and Media Studies at the Communication Studies Department at Ghent University" 
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Dani&euml;l Biltereyst</a>
  </nav>
  <header>
    <h1 itemprop="name">Dani&euml;l Biltereyst</h1>
  </header>
  <aside>
  <img src="images/daniel-biltereyst.png" alt="daniel biltereyst" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:Daniel.Biltereyst@UGent.be" itemprop="email">Daniel.Biltereyst@UGent.be</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:003292646864" itemprop="telephone">+32 (0)9 264 68 64</a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">Ghent University<br />
    Department of Communication Science<br />
    Korte Meer 11, 9000 Ghent (Belgium)</span> 
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation"><a href="http://www.cims.ugent.be/" rel="external">Centre for Cinema and Media Studies</a><i class="fa fa-external-link right"></i></p>
    <h2>Biography</h2>
    <p>Daniel Biltereyst is Professor in Film and Media Studies at the Communication Studies Department at Ghent University, in addition to being Director of the <a href="/centre-for-cinema-and-media-studies.html">Centre for Cinema and Media Studies (CIMS)</a>. His work deals with media and the public sphere, more specifically with film and screen culture as sites of controversy, public debate and moral/media panic.</p>
    <p>He was the supervisor to several wide-scale research projects on media and cinema history, including one on the history of  state film censorship and religious film classification in Belgium (<a href="http://www.cims.ugent.be/research/past-research-projects/forbidden-images" rel="external">Forbidden Images</a>, 2003-6); two projects on film exhibition and cinema-going (The Enlightened City, 2005-8; <a href="http://www.cims.ugent.be/research/past-research-projects/gent-kinemastad" rel="external">Gent Kinemastad</a>, 2009-12); as well as one on queer representations in screen culture (Out on Screen, 2008-12). Current research projects include <a href="http://www.cims.ugent.be/research/current-research-projects/screening-audiences" rel="external">Screen(ing) Audiences</a> (2013-2017, with Ph. Meers and A. Veenstra, Antwerp U, funded by FWO/National Research Fund), and the interdisciplinary research project <a href="http://www.cims.ugent.be/research/current-research-projects/deconstructing-health-news" rel="external">(De)constructing Health News</a> (2013-2017, main supervisor, GOA/BOF Ghent U Research Fund). He is also the main supervisor of the DICIS program (Digital Cinema Studies, funded by the FWO/National Research Fund, 2014-18, with Lies Van de Vijver at Ghent U).</p>
    <p>Daniel Biltereyst is Series Editor of the <a href="http://www.cims.ugent.be/publications/book-series" rel="external">Film and Television Studies series</a> (with Ph. Meers), the author of several books, and editor of various collections, including  <a href="http://eu.wiley.com/WileyCDA/WileyTitle/productCd-1405199490.html">Explorations in New Cinema History</a> (2011, Wiley-Blackwell, with R. Maltby and Ph. Meers), <a href="http://www.routledge.com/books/details/9780415672788/" rel="external">Cinema, Audiences and Modernity</a> (2012, Routledge, with R. Maltby and Ph. Meers), <a href="http://www.palgrave.com/page/detail/?sf1=id_product&st1=547191" rel="external">Silencing Cinema: Film Censorship around the World</a> (2013, Palgrave-Macmillan, with R. Vande Winkel), and <a href="http://www.routledgementalhealth.com/books/details/9780415712644/" rel="external">Moralizing Cinema: Film, Catholicism, and Power</a> (2015, Routledge, with Daniela Treveri Gennari).</p>
    <p>Daniel Biltereyst is also the author of many articles in edited volumes and journals, including publications in Cultural Studies, European Journal of Cultural Studies, European Journal of Communication, Historical Journal of Film, Radio and Television, Journal of Youth Studies, Media, Culture and Society, New Media &amp; Society, Screen, Studies in French Cinema, Television &amp; New Media.</p>
    <p>Daniel Biltereyst has supervised 16 PhD students and is currently the promotor of various other doctoral projects. He was one of the (founding) members of the board of the Flemish film fund (Vlaams Audiovisueel Fonds/<a href="http://www.vaf.be/taal/en/" rel="external">VAF</a>, 2001-9).</p>
    <h2>Research</h2>
    <p>Audience research, film history, media censorship, new cinema history</p>
    <h2>Publications</h2>
    <p>For an overview and links to some publications, see <a href="http://ugent.academia.edu/DanielBiltereyst">http://ugent.academia.edu/DanielBiltereyst</a> or <a href="https://biblio.ugent.be/person/801001158502">https://biblio.ugent.be/person/801001158502</a></p>
  </div>
</article>
