<div class="wrapper">
  <header>
    <h1>
      Refract Members
    </h1>
    <p class="intro">
      The DICIS Network is coordinated by Ghent University and unites three Flemish Universities and eight international research centers.
    </p>
  </header>
  <section class="members">
    <div class="member" data-mh="block">
      <a href="/member-details.html"><img src="images/daniel-biltereyst.png" alt="daniël biltereyst" /></a>
      <h2><a href="/member-details.html">Thijs Van de Graaf</a></h2>
      <p><a href="/centre-for-cinema-and-media-studies.html">Ghent Institute for International Studies, Ghent University</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="/lies-van-de-vijver.html"><img src="images/lies-van-de-vijver.jpg" alt="lies van de vijver" /></a>
      <h2><a href="/lies-van-de-vijver.html">Sebastian Oberth&uuml;r</a></h2>
      <p><a href="/centre-for-cinema-and-media-studies.html">Institute for European Studies, Vrije Universiteit Brussel</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="#"><img src="images/no-image-placeholder.jpg" alt="philippe meers" /></a>
      <h2><a href="#">Dirk De Bi&egrave;vre</a></h2>
      <p><a href="/visual-and-digital-cultures-research-center.html">Antwerp Centre for Institutions and Multilevel Politics, Antwerp University</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="roel-vande-winkel.html"><img src="images/roel-vande-winkel.jpg" alt="roel vande winkel" /></a>
      <h2><a href="/roel-vande-winkel.html">Amandine Orsini</a></h2>
      <p><a href="/institute-for-media-studies.html">Center for Research in Political Science, Université Saint-Louis – Bruxelles</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="/leen-engelen.html"><img src="images/leen-engelen.jpg" alt="leen engelen" /></a>
      <h2><a href="/leen-engelen.html">Jean-Fr&eacute;deric Morin</a></h2>
      <p><a href="/institute-for-media-studies.html">Canada Research Chair in IPE, Universit&eacute; Laval</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="#"><img src="images/no-image-placeholder.jpg" alt="clara pafort-overduin" /></a>
      <h2><a href="#">Fariborz Zelli</a></h2>
      <p><a href="/utrecht-media-history-group.html">Environmental Politics Research Group, Lund University</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="#"><img src="images/no-image-placeholder.jpg" alt="robert c allen" /></a>
      <h2><a href="#">Thomas Gehring</a></h2>
      <p><a href="/digital-innovation-lab.html">Chair of International Relations, University of Bamberg</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="richard-maltby.html"><img src="images/richard-maltby.jpg"  alt="richard maltby"/></a>
      <h2><a href="/richard-maltby.html">Margaret Young</a></h2>
      <p><a href="/flinders-institute-for-research-in-the-humanities.html">Institute for International Law and the Humanities, Melbourne University</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="/deb-verhoeven.html"><img src="images/deb-verhoeven.jpg" alt="deb verhoeven" /></a>
      <h2><a href="/deb-verhoeven.html">Harro van Asselt</a></h2>
      <p><a href="/kinomatics-the-industrial-geometry-of-motion-pictures.html">Stockholm Environment Institute, Oxford</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="/daniela-treveri-gennari.html"><img src="images/daniela-treveri-gennari.jpg" alt="daniela treveri gennari" /></a>
      <h2><a href="/daniela-treveri-gennari.html">Benjamin Faude</a></h2>
      <p><a href="/film-studies-research-unit.html">Global Governance Research Unit, WZB Berlin Social Science Center </a></p>
    </div>
  </section>
</div>
