<div class="wrapper">
  <header>
    <h1>
      Refract Members
    </h1>
    <p class="intro">
      The DICIS Network is coordinated by Ghent University and unites three Flemish Universities and eight international research centers.
    </p>
  </header>
  <section class="members">
    <div class="member" data-mh="block">
      <a href="/daniel-biltereyst.html"><img src="images/daniel-biltereyst.png" alt="daniël biltereyst" /></a>
      <h2><a href="/daniel-biltereyst.html">Daniel Biltereyst</a></h2>
      <p><a href="/centre-for-cinema-and-media-studies.html">Centre for Cinema and Media Studies</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="/lies-van-de-vijver.html"><img src="images/lies-van-de-vijver.jpg" alt="lies van de vijver" /></a>
      <h2><a href="/lies-van-de-vijver.html">Lies Van de Vijver</a></h2>
      <p><a href="/centre-for-cinema-and-media-studies.html">Centre for Cinema and Media Studies</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="#"><img src="images/no-image-placeholder.jpg" alt="philippe meers" /></a>
      <h2><a href="#">Philippe Meers</a></h2>
      <p><a href="/visual-and-digital-cultures-research-center.html">Visual and Digital Cultures Research Center</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="roel-vande-winkel.html"><img src="images/roel-vande-winkel.jpg" alt="roel vande winkel" /></a>
      <h2><a href="/roel-vande-winkel.html">Roel Vande Winkel</a></h2>
      <p><a href="/institute-for-media-studies.html">Institute for Media Studies</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="/leen-engelen.html"><img src="images/leen-engelen.jpg" alt="leen engelen" /></a>
      <h2><a href="/leen-engelen.html">Leen Engelen</a></h2>
      <p><a href="/institute-for-media-studies.html">Institute for Media Studies</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="#"><img src="images/no-image-placeholder.jpg" alt="clara pafort-overduin" /></a>
      <h2><a href="#">Clara Pafort-Overduin</a></h2>
      <p><a href="/utrecht-media-history-group.html">Utrecht Media History Group</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="#"><img src="images/no-image-placeholder.jpg" alt="robert c allen" /></a>
      <h2><a href="#">Robert C. Allen</a></h2>
      <p><a href="/digital-innovation-lab.html">Digital Innovation Lab</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="richard-maltby.html"><img src="images/richard-maltby.jpg"  alt="richard maltby"/></a>
      <h2><a href="/richard-maltby.html">Richard Maltby</a></h2>
      <p><a href="/flinders-institute-for-research-in-the-humanities.html">Flinders Institute for Research in the Humanities</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="/deb-verhoeven.html"><img src="images/deb-verhoeven.jpg" alt="deb verhoeven" /></a>
      <h2><a href="/deb-verhoeven.html">Deb Verhoeven</a></h2>
      <p><a href="/kinomatics-the-industrial-geometry-of-motion-pictures.html">Kinomatics: the industrial geometry of motion pictures</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="/daniela-treveri-gennari.html"><img src="images/daniela-treveri-gennari.jpg" alt="daniela treveri gennari" /></a>
      <h2><a href="/daniela-treveri-gennari.html">Daniela Treveri Gennari</a></h2>
      <p><a href="/film-studies-research-unit.html">Film Studies Research Unit</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="/pavel-skopal.html"><img src="images/pavel-skopal.jpg" alt="pavel skopal" /></a>
      <h2><a href="/pavel-skopal.html">Pavel Skopal</a></h2>
      <p><a href="/department-of-film-studies-and-audiovisual-culture.html">Department of Film Studies and Audiovisual Culture</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="/mariagrazia-fanchi.html"><img src="images/mariagrazia-fanchi.jpg" alt="mariagrazia fanchi" /></a>
      <h2><a href="/mariagrazia-fanchi.html">Mariagrazia Fanchi</a></h2>
      <p><a href="/film-photography-television-and-audiovisual-studies.html">Film, Photography, Television and Audiovisual Studies</a></p>
    </div>
    <div class="member" data-mh="block">
      <a href="/virginia-luzon.html"><img src="images/virginia-luzon.jpg" alt="virginia luzon" /></a>
      <h2><a href="/virginia-luzon.html">Virginia Luzón</a></h2>
      <p><a href="/spanish-film-analysis-group.html">Spanish Film Analysis Group</a></p>
    </div>
  </section>
</div>
