---
title: "Refract News"
description: "The Research on Fragmentation and Complexity in Global Governance news items"
---
<div class="wrapper">
  <section class="intro">
    <header>
      <h1>Refract News</h1>
    <header>
  </section>
  <section class="articles">
    <article class="news-article">
      <aside>
        <%= image_tag "banner-300x156.jpg" %>
      </aside>
      <div class="content">
      <header>
        <h2><a href="/news-article.html">Adaptive Governance in the Arctic</a></h2>
        <p class="date">
      </header>
      <footer>
        <p class="date">Posted on <time datetime="2014-10-01 15:52">18 June 2014</time></p>
      </footer>
      <section class="summary">
        <p>On Monday 9 March, Mary Durfee will give a lecture on the governance of the Arctic &hellip;</p>
      </section>
      </div>
    </article>
    <article class="news-article">
      <aside>
        <%= image_tag "banner-300x156.jpg" %>
      </aside>
      <header>
        <h2>Adaptive Governance in the Arctic</h2>
        <p class="date">
      </header>
      <footer>
        <p class="date">Posted on <time datetime="2014-10-01 15:52">18 June 2014</time></p>
      </footer>
      <section class="summary">
        <p>On Monday 9 March, Mary Durfee will give a lecture on the governance of the Arctic &hellip;</p>
      </section>
    </article>
    <article class="news-article">
      <aside>
        <%= image_tag "banner-300x156.jpg" %>
      </aside>
      <header>
        <h2>Adaptive Governance in the Arctic</h2>
        <p class="date">
      </header>
      <footer>
        <p class="date">Posted on <time datetime="2014-10-01 15:52">18 June 2014</time></p>
      </footer>
      <section class="summary">
        <p>On Monday 9 March, Mary Durfee will give a lecture on the governance of the Arctic &hellip;</p>
      </section>
    </article>
  </section>
</div>
