<div class="wrapper">
  <article class="newsarticle">
    <div class="breadcrumb">
      <a href="/news.html">News</a>
      <a href="javascript:void(0)">Refract Kick-Off Meeting, June 25-26</a>
    </div>
    <div class="content">
    <header>
      <h1>Refract Kick-Off Meeting, June 25-26</h1>
    </header>
    <footer>
        <p class="date">Posted on <time datetime="2015-04-29">29 April 2015</time></p>
    </footer>
    <section class="practical">
    </section>
    <section class="bodytext">
      <p>On June 25-26, Refract will hold its kick-off meeting in Brussels. The meeting will consist of two sessions: a brainstorming session on regime complexes and fragmentation, and a focused workshop on the governance of energy subsidies.</p>
    </section>
    </div>
    <aside>
      <%= image_tag "banner-300x156.jpg" %>
    </aside>
  </article>
</div>

