<div class="wrapper">
  <article class="newsarticle">
    <div class="breadcrumb">
      <a href="/news.html">News</a>
      <a href="javascript:void(0)">Adaptive Governance in the Arctic</a>
    </div>
    <div class="content">
    <header>
      <h1>Adaptive Governance in the Arctic</h1>
    </header>
    <footer>
        <p class="date">Posted on <time datetime="2014-10-01 15:52">18 June 2014</time></p>
    </footer>
    <section class="practical">
      <ul>
        <li><i class="fa fa-download"></i><a href="#">Download the brochure</a></li>
        <li><i class="fa fa-link"></i><a href="#">www.deredactie.be</a></li>
      </ul>
    </section>
    <section class="bodytext">
      <p>Bacon ipsum dolor amet tri-tip tenderloin chuck pork chop, t-bone bresaola prosciutto jerky pancetta shoulder pork belly picanha cupim short loin. Sausage rump swine venison, chicken pork shank bacon leberkas cow. Turkey short loin jowl shank picanha turducken andouille. Pork hamburger picanha flank. Drumstick shoulder prosciutto venison.</p>
      <p>Salami kevin corned beef andouille pastrami, drumstick tenderloin pork turducken brisket prosciutto shank bacon biltong. Swine fatback salami meatloaf brisket shank frankfurter andouille kielbasa chuck turducken. Beef meatball pork chop, pork tenderloin filet mignon ball tip ham hock shank pig ground round fatback tail sausage prosciutto. Capicola sausage flank, alcatra hamburger porchetta tongue.</p>
    </section>
    </div>
    <aside>
      <%= image_tag "banner-300x156.jpg" %>
    </aside>
  </article>
</div>

