---
title: "Refract News"
description: "The Research on Fragmentation and Complexity in Global Governance news items"
---
<div class="wrapper">
  <section class="intro">
    <header>
      <h1>Refract News</h1>
    <header>
  </section>
  <section class="articles">
    <article class="news-article">
      <aside>
        <%= image_tag "refract-kick-off-event.jpg" %>
      </aside>
      <div class="content">
      <header>
        <h2><a href="/refract-first-ever-meeting.html">Refract First Ever Meeting</a></h2>
      </header>
      <footer>
        <p class="date">Posted on <time datetime="2015-06-29">29 June 2015</time></p>
      </footer>
      <section class="summary">
        <p>REFRACT held its first-ever meeting on June 25-26, 2015, in Brussels &hellip;</p>
      </section>
      </div>
    </article>
    <article class="news-article">
      <aside>
        <%= image_tag "banner-300x156.jpg" %>
      </aside>
      <div class="content">
      <header>
        <h2><a href="/news-article.html">Refract Kick-Off Meeting, June 25-26</a></h2>
      </header>
      <footer>
        <p class="date">Posted on <time datetime="2015-04-29">29 April 2015</time></p>
      </footer>
      <section class="summary">
        <p>On June 25-26, Refract will hold its kick-off meeting in Brussels &hellip;</p>
      </section>
      </div>
    </article>
  </section>
</div>
