<div class="wrapper">
  <article class="intro">
    <header>
      <h1>Refract Output</h1>
    </header>
    <p>De refract output bestaat uit publicaties</p>
  </article>
  <section class="output">
    <header><h2>Publicaties</h2>
    <ul>
      <li><i class="fa fa-download"></i><a href="#">Rik Coolsaet (2015) What Drives Europeans to Syria and to IS? Insights from the Belgian case Egmont Paper, vol.: 75</a></li>
      <li><i class="fa fa-download"></i><a href="#">Rik Coolsaet (2015) What Drives Europeans to Syria and to IS? Insights from the Belgian case Egmont Paper, vol.: 75</a></li>
      <li><i class="fa fa-download"></i><a href="#">Rik Coolsaet (2015) What Drives Europeans to Syria and to IS? Insights from the Belgian case Egmont Paper, vol.: 75</a></li>
      <li><i class="fa fa-download"></i><a href="#">Rik Coolsaet (2015) What Drives Europeans to Syria and to IS? Insights from the Belgian case Egmont Paper, vol.: 75</a></li>
    </ul>
  </section>
</div>
