---
title: "Refract Output"
description: "Output from the Research on Fragmentation and Complexity In Global Governance"
---

<div class="wrapper">
  <article class="intro">
    <header>
      <h1>Refract Output</h1>
    </header>
  </article>
  <section class="publications">
    <ul class="accordion-tabs-minimal">
      <li class="tab-header-and-content">
        <a href="#" class="tab-link is-active">Refract Output</a>
        <div class="tab-content">
          <article class="output">
            <section class="bodytext">
              <p><a href="workshop-report.html">Energy subsidies at the intersection of the climate, energy and trade regimes</a></p>
              <p><i class="fa fa-download"></i><a href="documents/workshop-report.docx">Boundary organisations in international affairs (Workshop report)</a></p>

            </section>
          </article>
        </div>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Bibliography</a>
        <div class="tab-content">
          <article class="output">
            <section class="bodytext">
 
              <p>Asselt, Harro van (2011). Legal and Political Approaches in Interplay Management: Dealing with the Fragmentation of Global Climate Governance. In: Sebastian Oberthür &amp; Olav Schram Stokke (Eds.), Managing Institutional Complexity: Regime Interplay and Global Environmental Change. (pp. 59-86). Cambridge, MA: The MIT Press.</p>
              <p>Asselt, Harro van (2012). Managing the Fragmentation of International Environmental Law: Forests at the Intersection of the Climate and Biodiversity Regimes. New York University Journal of International Law &amp; Politics 44(4), 1205-1278.</p>

              <p>Asselt, Harro van (2013). Managing the Fragmentation of International Climate Law. In: Hollo, Erkki, Kati Kulovesi, and Michael Mehling (Eds.), Climate Change and the Law. (pp. 329-357). Berlin: Springer.</p>
              <p>Asselt, Harro van (2014). The Fragmentation of Global Climate Governance: Consequences and Management of Regime Interactions. Cheltenham, UK: Edward Elgar, 360 pp.</p>
              <p>Asselt, Harro van &amp; Fariborz Zelli (2014). Connect the Dots: Managing the Fragmentation of Global Climate Governance. Environmental Economics and Policy Studies 16(2), 137-155.</p>

              <p>Betsill, Michele, Navroz K. Dubash, Matthew Paterson, Harro van Asselt, Antto Vihma &amp;Harald Winkler (2015). Building Productive Links between the UNFCCC and the Broader Climate Governance Landscape. Global Environmental Politics 15(2), 1-10.</p>
              <p>Biermann, Frank, Philipp Pattberg, Harro van Asselt &amp; Fariborz Zelli (2009). The Fragmentation of Global Governance Architectures: A Framework for Analysis. Global Environmental Politics 9(4), 14-40.</p>
              <p>Colgan, J., Keohane, R.O., Van de Graaf, T. (2012). “Punctuated equilibrium in the energy regime complex,” Review of International Organizations, 7(2): 117-143.</p>
              <p>De Bi&egrave;vre, Dirk, Arlo Poletti, and Lars Thomann (2014), ‘To enforce or not to enforce? Judicialization, venue shopping, and global regulatory harmonization’, Regulation and Governance 8(3), 269-286.</p>
              <p>Dupont Claire and Oberthür Sebastian (eds.), Decarbonisation in the European Union: Internal Policies and External Strategies, Houndmills: Palgrave Macmillan 2015.</p>
              <p>Eckhardt, Jappe and Dirk De Bi&egrave;vre (2015), ‘Boomerangs over Lac Léman: Transnational Lobbying and Foreign Venue Shopping in WTO Dispute Settlement’, World Trade Review 1/2015.</p>

<p>Faude, Benjamin (2011): <a href="http://www.zib.nomos.de/archiv/2011/heft1/" target="_blank">Paradoxe Verrechtlichtung</a>. Wie Streitschlichtungsmechanismen interagieren. In: Zeitschrift für Internationale Beziehungen 18: 1, 77-108.</p>
              <p>Faude, Benjamin (2015): Zur Dynamik inter-organisationaler Beziehungen. Wie aus Konkurrenz Arbeitsteilung entseht. In: Eugenia da Conceicao-Heldt, Martin Koch, Andrea Liese (Hg.): Internationale Organisationen. Autonomie, Politisierung, interorganisationale Beziehungen und Wandel. PVS-Sonderheft 49. Baden-Baden: Nomos. S. 294-321.</p>
              <p>Gehring, Thomas/ Faude, Benjamin (2013): <a href="http://journals.rienner.com/doi/abs/10.5555/1075-2846-19.1.119?af=R&" target="_blank">The Dynamics of Regime Complexes</a>. Microfoundations and Systemic Effects. In: Global Governance 19: 1, 119-130.</p>
              <p>Gehring, Thomas / Faude, Benjamin (2014): <a href="http://link.springer.com/article/10.1007/s11558-014-9197-1" target="_blank">A theory of emerging order within institutional complexes</a>: How competition among regulatory international institutions leads to institutional adaptation and division of labor. In: Review of International Organizations 9: 4, 471-498.</p>
              <p>Gehring Thomas and Oberth&uuml;r Sebastian, The Causal Mechanisms of Interaction between International Institutions, in: European Journal of International Relations 15: 1 (2009), 125-156.</p>
              <p>Gehring Thomas and Oberth&uuml;r Sebastian, Interplay: Exploring Institutional Interaction, in: Oran R. Young/Leslie A. King/Heike Schroeder (eds.), Institutions and Environmental Change: Principal Findings, Applications, and Research Frontiers, Cambridge, Mass.: MIT Press 2008, 187-223.</p>
              <p>Gehring Thomasand Oberth&uuml;r Sebastian, Introduction, in: Sebastian Obert&uuml;r and Thomas Gehring (eds.), Institutional Interaction in Global Environmental Governance. Synergy and Conflict among International and EU Policies, Cambridge: MIT Press 2006, 1-18.</p>
              <p>Gehring Thomas and Oberth&uuml;r Sebastian, Comparative Empirical Analysis and Ideal Types of Institutional Interaction, in: Sebastian Obert&uuml;r and Thomas Gehring (eds.), Institutional Interaction in Global Environmental Governance. Synergy and Conflict among International and EU Policies, Cambridge: MIT Press 2006, 307-371.</p>
              <p>Gehring Thomas and Oberth&uuml;r Sebastian, Exploring Regime Interaction: A Framework for Analysis, in: Arild Underdal and Oran R. Young (eds.), Regime Consequences: Methodological Challenges and Research Strategies, Dordrecht: Kluwer 2004, 247-269.</p>
              <p>Jansson, Max S. &amp; Kalimo, Harri (2014) Towards Sustainable Biofuels – A Comparative View on Regulatory Approaches in the EU and the U.S. Pittsburgh Journal of Environmental and Public Health Law, 8(2): 106-159. ISSN: 2164-7976.</p>
              <p>Jansson, Max S. &amp; Kalimo, Harri (2014) De minimis Meets “Market Access”. Transformations in the Substance -- and in the Syntax -- of EU free movement law? Common Market Law Review, 51(1) 523-558.</p>
              <p>Kalimo, Harri (2006) E-CYCLING—Linking Trade and Environmental Law in the EC and the U.S. Transnational Publishers: Ardsley, New York, pp. 757. ISBN: 1-57105-356-5.</p>
              <p>Kalimo, Harri et al. (2015) What Roles for Which Stakeholders under Extended Producer Responsibility? Review of European Comparative and International Environmental Law (RECIEL), 24(1) 40-57.</p>
              <p>Kalimo, Harri &amp; Lifset, Reid (Forthcoming) Thinking Under the Box: Public Choice and Constitutional Law Perspectives on City-Level Environmental Policy. William &amp; Mary Environmental Law and Policy Review. 40(1): XXX-XXX. ISSN: 1091-9724.</p>


              <p>Lesage, D., Van de Graaf, T. (2013). “Thriving in Complexity? The OECD System’s Role in Energy and Taxation,” Global Governance, 19(1): 83-92.</p>
              <p>Morin, J-F and A. Orsini. 2014. Policy Coherency and Regime Complexes: The Case of Genetic Resources, Review of International Studies, 40(2): 303-324.</p>
              <p>Morin, J-F. and A. Orsini 2013. Regime Complexity and Policy Coherency: Introducing a Co-adjustments Model. Global Governance 19 (1): 41-51.</p>
              <p>Oberth&uuml;r Sebastian, Institutional Interaction to Address Greenhouse Gas Emissions from International Transport: ICAO, IMO and the Kyoto Protocol, in Climate Policy, Vol. 3 (2003) No. 3, 191-205.</p>
              <p>Oberth&uuml;r Sebastian, Clustering of Multilateral Environmental Agreements: Potentials and Limitations, in: International Environmental Agreements: Politics, Law and Economics, Vol. 2 (2002) No. 4, 317-340.</p>
              <p>Obert&uuml;r Sebastian, Linkages between the Montreal and Kyoto Protocols. Enhancing Synergies between Protecting the Ozone Layer and the Global Climate, in: International Environmental Agreements: Politics, Law and Economics, Vol. 1 (2001) No. 3, 357-377.</p>

              <p>Oberth&uuml;r Sebastian, The Climate Change Regime: Interactions with ICAO, IMO, and the EU Burden-Sharing Agreement, in: Sebastian Obert&uuml;r and Thomas Gehring (eds.), Institutional Interaction in Global Environmental Governance. Synergy and Conflict among International and EU Policies, Cambridge: MIT Press 2006, 53-77.</p>

              <p>Oberth&uuml;r Sebastian and Gehring Thomas, Interplay: Broadening Our Perspective on Governance through Institutions, in: IHDP Update 1/2007, 14-16.</p>
              <p>Oberth&uuml;r Sebastian and Gehring Thomas, Institutional Interaction in Global Environmental Governance: The Case of the Cartagena Protocol and the World Trade Organization, in: Global Environmental Politics Vol. 6, No. 2 (2006), 1-31.</p>
              <p>Oberth&uuml;r Sebastian and Gehring Thomas(eds.), Institutional Interaction in Global Environmental Governance. Synergy and Conflict among International and EU Policies, Cambridge: MIT Press 2006.</p>
              <p>Oberth&uuml;r Sebastian and Gehring Thomas, Conceptual Foundations of Institutional Interaction, in: Sebastian Obert&uuml;r and Thomas Gehring (eds.), Institutional Interaction in Global Environmental Governance. Synergy and Conflict among International and EU Policies, Cambridge: MIT Press 2006, 19-51.</p>



              <p>Oberth&uuml;r Sebastian and Groen Lisanne, The Effectiveness Dimension of the EU’s Performance in International Institutions: Toward a More Comprehensive Assessment Framework, Journal of Common Market Studies, DOI: 10.1111/jcms.12279, pp. 1-17.</p>
              <p>Oberth&uuml;r Sebastian and Van de Graaf Thijs, Institutional Interactions, in: Jean Fr&eacute;d&eacute;ric Morin and Amandine Orsini (eds.), Essential Concepts of Global Environmental Governance, Abingdon: Routledge 2015, 101-104.</p>
              <p>Oberth&uuml;r Sebastian and Pozarowska Justyna, The Impact of the Nagoya Protocol on the Evolving Institutional Complex of ABS Governance, in: Sebastian Oberthür and G. Kristin Rosendal (eds.), Global Governance of Genetic Resources: Access and Benefit Sharing after the Nagoya Protocol, Abingdon: Routledge 2014, 178-195.</p>
              <p>Oberth&uuml;r Sebastian and Pozarowska Justyna (2013). Managing Institutional Complexity and Fragmentation: The Nagoya Protocol and the Global Governance of Genetic Resources. Global Environmental Politics 13 (3): 100-118.</p>
              <p>Oberth&uuml;r Sebastian and Schram Olav Stokke (eds.), Managing Institutional Complexity: Regime Interplay and Global Environmental Change, Cambridge: MIT Press 2011.</p>
              <p>Oberth&uuml;r Sebastian and Gehring Thomas, Institutional Interaction: Ten Years of Scholarly Development, in: Sebastian Oberthür and Olav Schram Stokke (eds.), Managing Institutional Complexity: Regime Interplay and Global Environmental Change, Cambridge: MIT Press 2011, 25-58.</p>
              <p>Oberth&uuml;r Sebastian and  Gehring Thomas, Disentangling the Interaction between the Cartagena Protocol and the World Trade Organization, in: Oran R. Young, W. Bradnee Chambers, Joy A. Kim and Claudia ten Have (eds.), Institutional Interplay: Biosafety and Trade, Tokyo: UN University 2008, 94-127.</p>

              <p>Oberth&uuml;r Sebastian, Dupont Claire and Yasuko Matsumoto , Managing Policy Contradictions between the Montreal and Kyoto Protocols: The Case of Fluorinated Greenhouse Gases, in: Sebastian Oberth&uuml;r and Olav Schram Stokke (eds.), Managing Institutional Complexity: Regime Interplay and Global Environmental Change, Cambridge: MIT Press 2011, 115-141.</p>
              <p>Oberth&uuml;r Sebastian and  Schram Stokke Olav, Conclusions: Decentralized Interplay Management in an Evolving Interinstitutional Order, in: Sebastian Oberth&uuml;r and  Schram Stokke Olav (eds.), Managing Institutional Complexity: Regime Interplay and Global Environmental Change, Cambridge: MIT Press 2011, 313-341.</p>
              <p>Oberth&uuml;r Sebastian, Interplay Management: Enhancing Environmental Policy Integration among International Institutions, in: International Environmental Agreements: Politics, Law and Economics, 9: 4 (2009), 371-391.</p>
              <p>Orsini, A. 2013. Navigating the Regime Complexes for Forestry and Genetic Resources. Global Environmental Politics 13(3): 34-55.</p>
              <p>Orsini, A, J-F Morin and O.R. Young. 2013. Regime Complexes: A Buzz, A Boom or a Boost for Global Governance? Global Governance, vol. 19, 2013, 27-39.</p>

              <p>Poletti, Arlo, Dirk De Bi&egrave;vre and Tyson Chatagnier (forthcoming 2015), ‘Cooperation in the shadow of WTO law: why litigate when you can negotiate’, World Trade Review.</p>
              <p>Poletti, Arlo and Dirk De Bi&egrave;vre (forthcoming), From Disputes to Cooperation at the World Trade Organization, Colchester: ECPR Press.</p>
 
              <p>Poletti, Arlo and Daniela Sicurelli (forthcoming), ‘The European Union, preferential trade agreements, and the international regulation of sustainable biofuels’, Journal of Common Market Studies.</p>
              <p>Schram Stokke Olav and Oberth&uuml;r Sebastian, Introduction: Institutional Interaction in Global Environmental Change, in: Sebastian Oberthür and Olav Schram Stokke (eds.), Managing Institutional Complexity: Regime Interplay and Global Environmental Change, Cambridge: MIT Press 2011, 1-23.</p>

              <p>Urpelainen, J., Van de Graaf, T., “Your Place or Mine? Institutional Capture and the Creation of Overlapping International Institutions,” British Journal of Political Science, forthcoming.</p>
              <p>Van de Graaf, T., De Ville, F., (2013). “Regime Complexes and Interplay Management,” contribution to forum on “Insights from Global Environmental Governance,” edited by Morin, J-F., Orsini, A., International Studies Review, 15(4), 562–589.</p>
              <p>Van de Graaf, T. (2013). “Fragmentation in global energy governance: explaining the creation of IRENA,” Global Environmental Politics, 13(3), 14-33.</p>
              <p>Zelli, Fariborz, Aarti Gupta &amp; Harro van Asselt (2013). Interlinkages within the Trade and Environment Regime Complex: The Dominance of Liberal Environmentalism? Global Governance 19(1), 105-118.</p>
              <p>Zelli, Fariborz &amp; Harro van Asselt (2013). The Institutional Fragmentation of Global Environmental Governance – Cause, Consequences and Responses. Global Environmental Politics 13(3), 1-13.</p>
              <p>Zelli, Fariborz, Aarti Gupta &amp; Harro van Asselt (2012). Horizontal Institutional Interlinkages. In: Frank Biermann &amp; Philipp Pattberg (Eds.), Global Environmental Governance Reconsidered. (pp. 175-198). Cambridge, MA: The MIT Press.</p>
              <p>Zelli, Fariborz &amp; Harro van Asselt (2015, forthcoming). Institutional Fragmentation. In: Bäckstrand, Karin &amp; Eva L&ouml;vbrand (Eds.), Research Handbook on Climate Governance. Cheltenham, UK: Edward Elgar</p>
              <p>Z&uuml;rn, Michael/ Faude, Benjamin (2013): <a href="http://www.mitpressjournals.org/doi/abs/10.1162/GLEP_a_00186#.VZJkzROqpHx" target="_blank">On Fragmentation, Differentiation and Coordination</a>. In: Global Environmental Politics 13: 3, 119-130.</p>
            </section>
          </article>
        </div>
      </li>
    </ul>
  </section>
</div>
<script> 
$(document).ready(function () {
  $('.accordion-tabs-minimal').each(function(index) {
    $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
  });

  $('.accordion-tabs-minimal').on('click', 'li > a', function(event) {
    if (!$(this).hasClass('is-active')) {
      event.preventDefault();
      var accordionTabs = $(this).closest('.accordion-tabs-minimal');
      accordionTabs.find('.is-open').removeClass('is-open').hide();

      $(this).next().toggleClass('is-open').toggle();
      accordionTabs.find('.is-active').removeClass('is-active');
      $(this).addClass('is-active');
    } else {
      event.preventDefault();
    }
  });
});
</script>
