---
title: "Refract Output"
description: "Output from the Research on Fragmentation and Complexity In Global Governance"
---

<div class="wrapper">
  <article class="intro">
    <header>
      <h1>Refract Output</h1>
    </header>
  </article>
  <section class="publications">
    <ul class="accordion-tabs-minimal">
      <li class="tab-header-and-content">
        <a href="#" class="tab-link is-active">Refract Output</a>
        <div class="tab-content">
          <article class="output">
            <section class="bodytext">
              <ul><li>coming soon</li></ul>
            </section>
          </article>
        </div>
      </li>
      <li class="tab-header-and-content">
        <a href="#" class="tab-link">Bibliography</a>
        <div class="tab-content">
          <article class="output">
            <section class="bodytext">
 
              <p>Asselt, Harro van (2011). Legal and Political Approaches in Interplay Management: Dealing with the Fragmentation of Global Climate Governance. In: Sebastian Oberthür &amp; Olav Schram Stokke (Eds.), Managing Institutional Complexity: Regime Interplay and Global Environmental Change. (pp. 59-86). Cambridge, MA: The MIT Press.</p>
              <p>Asselt, Harro van (2012). Managing the Fragmentation of International Environmental Law: Forests at the Intersection of the Climate and Biodiversity Regimes. New York University Journal of International Law &amp; Politics 44(4), 1205-1278.</p>

              <p>Asselt, Harro van (2013). Managing the Fragmentation of International Climate Law. In: Hollo, Erkki, Kati Kulovesi, and Michael Mehling (Eds.), Climate Change and the Law. (pp. 329-357). Berlin: Springer.</p>
              <p>Asselt, Harro van (2014). The Fragmentation of Global Climate Governance: Consequences and Management of Regime Interactions. Cheltenham, UK: Edward Elgar, 360 pp.</p>
              <p>Asselt, Harro van &amp; Fariborz Zelli (2014). Connect the Dots: Managing the Fragmentation of Global Climate Governance. Environmental Economics and Policy Studies 16(2), 137-155.</p>

              <p>Betsill, Michele, Navroz K. Dubash, Matthew Paterson, Harro van Asselt, Antto Vihma &amp;Harald Winkler (2015). Building Productive Links between the UNFCCC and the Broader Climate Governance Landscape. Global Environmental Politics 15(2), 1-10.</p>
              <p>Biermann, Frank, Philipp Pattberg, Harro van Asselt &amp; Fariborz Zelli (2009). The Fragmentation of Global Governance Architectures: A Framework for Analysis. Global Environmental Politics 9(4), 14-40.</p>
              <p>Colgan, J., Keohane, R.O., Van de Graaf, T. (2012). “Punctuated equilibrium in the energy regime complex,” Review of International Organizations, 7(2): 117-143.</p>
              <p>De Bi&egrave;vre, Dirk, Arlo Poletti, and Lars Thomann (2014), ‘To enforce or not to enforce? Judicialization, venue shopping, and global regulatory harmonization’, Regulation and Governance 8(3), 269-286.</p>
              <p>Dupont Claire and Oberthür Sebastian (eds.), Decarbonisation in the European Union: Internal Policies and External Strategies, Houndmills: Palgrave Macmillan 2015.</p>
              <p>Eckhardt, Jappe and Dirk De Bi&egrave;vre (2015), ‘Boomerangs over Lac Léman: Transnational Lobbying and Foreign Venue Shopping in WTO Dispute Settlement’, World Trade Review 1/2015.</p>

<p>Faude, Benjamin (2011): <a href="http://www.zib.nomos.de/archiv/2011/heft1/" target="_blank">Paradoxe Verrechtlichtung</a>. Wie Streitschlichtungsmechanismen interagieren. In: Zeitschrift für Internationale Beziehungen 18: 1, 77-108.</p>
              <p>Faude, Benjamin (2015): Zur Dynamik inter-organisationaler Beziehungen. Wie aus Konkurrenz Arbeitsteilung entseht. In: Eugenia da Conceicao-Heldt, Martin Koch, Andrea Liese (Hg.): Internationale Organisationen. Autonomie, Politisierung, interorganisationale Beziehungen und Wandel. PVS-Sonderheft 49. Baden-Baden: Nomos. S. 294-321.</p>
              <p>Gehring, Thomas/ Faude, Benjamin (2013): <a href="http://journals.rienner.com/doi/abs/10.5555/1075-2846-19.1.119?af=R&" target="_blank">The Dynamics of Regime Complexes</a>. Microfoundations and Systemic Effects. In: Global Governance 19: 1, 119-130.</p>
              <p>Gehring, Thomas / Faude, Benjamin (2014): <a href="http://link.springer.com/article/10.1007/s11558-014-9197-1" target="_blank">A theory of emerging order within institutional complexes</a>: How competition among regulatory international institutions leads to institutional adaptation and division of labor. In: Review of International Organizations 9: 4, 471-498.</p>
              <p>Lesage, D., Van de Graaf, T. (2013). “Thriving in Complexity? The OECD System’s Role in Energy and Taxation,” Global Governance, 19(1): 83-92.</p>
              <p>Oberth&uuml;r Sebastian and Groen Lisanne, The Effectiveness Dimension of the EU’s Performance in International Institutions: Toward a More Comprehensive Assessment Framework, Journal of Common Market Studies, DOI: 10.1111/jcms.12279, pp. 1-17.</p>
              <p>Poletti, Arlo, Dirk De Bi&egrave;vre and Tyson Chatagnier (forthcoming 2015), ‘Cooperation in the shadow of WTO law: why litigate when you can negotiate’, World Trade Review.</p>
              <p>Poletti, Arlo and Dirk De Bi&egrave;vre (forthcoming), From Disputes to Cooperation at the World Trade Organization, Colchester: ECPR Press.</p>
 
              <p>Poletti, Arlo and Daniela Sicurelli (forthcoming), ‘The European Union, preferential trade agreements, and the international regulation of sustainable biofuels’, Journal of Common Market Studies.</p>
              <p>Urpelainen, J., Van de Graaf, T., “Your Place or Mine? Institutional Capture and the Creation of Overlapping International Institutions,” British Journal of Political Science, forthcoming.</p>
              <p>Van de Graaf, T., De Ville, F., (2013). “Regime Complexes and Interplay Management,” contribution to forum on “Insights from Global Environmental Governance,” edited by Morin, J-F., Orsini, A., International Studies Review, 15(4), 562–589.</p>
              <p>Van de Graaf, T. (2013). “Fragmentation in global energy governance: explaining the creation of IRENA,” Global Environmental Politics, 13(3), 14-33.</p>
              <p>Zelli, Fariborz, Aarti Gupta &amp; Harro van Asselt (2013). Interlinkages within the Trade and Environment Regime Complex: The Dominance of Liberal Environmentalism? Global Governance 19(1), 105-118.</p>
              <p>Zelli, Fariborz &amp; Harro van Asselt (2013). The Institutional Fragmentation of Global Environmental Governance – Cause, Consequences and Responses. Global Environmental Politics 13(3), 1-13.</p>
              <p>Zelli, Fariborz, Aarti Gupta &amp; Harro van Asselt (2012). Horizontal Institutional Interlinkages. In: Frank Biermann &amp; Philipp Pattberg (Eds.), Global Environmental Governance Reconsidered. (pp. 175-198). Cambridge, MA: The MIT Press.</p>
              <p>Zelli, Fariborz &amp; Harro van Asselt (2015, forthcoming). Institutional Fragmentation. In: Bäckstrand, Karin &amp; Eva L&ouml;vbrand (Eds.), Research Handbook on Climate Governance. Cheltenham, UK: Edward Elgar</p>
              <p>Z&uuml;rn, Michael/ Faude, Benjamin (2013): <a href="http://www.mitpressjournals.org/doi/abs/10.1162/GLEP_a_00186#.VZJkzROqpHx" target="_blank">On Fragmentation, Differentiation and Coordination</a>. In: Global Environmental Politics 13: 3, 119-130.</p>
            </section>
          </article>
        </div>
      </li>
    </ul>
  </section>
</div>
<script> 
$(document).ready(function () {
  $('.accordion-tabs-minimal').each(function(index) {
    $(this).children('li').first().children('a').addClass('is-active').next().addClass('is-open').show();
  });

  $('.accordion-tabs-minimal').on('click', 'li > a', function(event) {
    if (!$(this).hasClass('is-active')) {
      event.preventDefault();
      var accordionTabs = $(this).closest('.accordion-tabs-minimal');
      accordionTabs.find('.is-open').removeClass('is-open').hide();

      $(this).next().toggleClass('is-open').toggle();
      accordionTabs.find('.is-active').removeClass('is-active');
      $(this).addClass('is-active');
    } else {
      event.preventDefault();
    }
  });
});
</script>
