---
title: "Peter Debaere"
description: "Peter Debaere is a post-doctoral researcher at the Ghent Institute for International Studies, Ghent University, Belgium"
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Associated Scholars</a>
    <a href="javascript:void(0)">Peter Debaere</a>
  </nav>
  <header>
    <h1 itemprop="name">Peter Debaere</h1>
  </header>
  <aside>
  <img src="images/peter-debaere.jpg" alt="peter debaere" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:peter.debaere@ugent.be" itemprop="email">peter.debaere@ugent.be</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:32494209461" itemprop="telephone">+32494209461</a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">Ghent University<br />
    Department of Political Science<br />
    Universiteitstraat 8, B-9000 Gent </span> 
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation"><a href="http://www.giis.ugent.be/" rel="external">Ghent Institute for International Studies</a><i class="fa fa-external-link right"></i></p>
    <section class="biography">
    <h2>Biography</h2>
    <p>Dr. Peter Debaere is a post-doctoral researcher at the Ghent Institute for International Studies, Ghent University, Belgium. His research interests include the institutional architecture of development finance, the reform of the IMF and the role of the Gx (G7, G8, G20) in global governance.</p>
    <p>In the context of his PhD research, he has published widely on the EU’s relationship with the G7, G8 and G20. He is author of EU Coordination in International Institutions: Policy and Process in Gx Forums (Palgrave, July 2015). His PhD thesis on internal EU coordination for the G7, G8 and G20 has been shortlisted for the Best PhD Award 2015 by the Political Science Associations of the Netherlands and Belgium.</p>
    <p>In June 2012, he was a visiting scholar at the European Union Center of Excellence/European Studies Center of the University of Pittsburgh.</p>
    </section
  </div>
</article>
