---
title: "Refract First Ever Meeting"
description: "REFRACT held its first-ever meeting on June 25-26, 2015, in Brussels"
---
<div class="wrapper">
  <article class="newsarticle">
    <div class="breadcrumb">
      <a href="/news.html">News</a>
      <a href="javascript:void(0)">Refract First Ever Meeting</a>
    </div>
    <div class="content">
    <header>
      <h1>Refract First Ever Meeting</h1>
    </header>
    <footer>
        <p class="date">Posted on <time datetime="2015-06-29">29 June 2015</time></p>
    </footer>
    <section class="practical">
    </section>
    <section class="bodytext">
      <p>REFRACT held its first-ever meeting on June 25-26, 2015, in Brussels. Participants discussed new research frontiers in the study of fragmentation and complexity, as well as the international governance of energy subsidies. </p>
      <p>A brief workshop report will be posted to this website soon.</p>
    </section>
    </div>
    <aside>
      <%= image_tag "refract-kick-off-event.jpg" %>
    </aside>
  </article>
</div>
