---
title: "Refract Kick-Off Meeting"
description: "On June 25-26, Refract will hold its kick-off meeting in Brussels"
---
<div class="wrapper">
  <article class="event">
    <div class="breadcrumb">
      <a href="/events.html">Events</a>
      <a href="javascript:void(0)">Refract Kick-Off Meeting, June 25-26</a>
    </div>
    <header>
      <h1>Refract Kick-Off Meeting, June 25-26</h1>
    </header>
    <section class="practical">
      <ul>
        <li><i class="fa fa-calendar left"></i>June 25-26 2015</li>
      <li><i class="fa fa-map-marker left"></i>Institute for European Studies, VUB, Brussels</li>
      </ul>
    </section>
    <section class="content">
      <p>On June 25-26, Refract will hold its kick-off meeting in Brussels. The meeting will consist of two sessions: a brainstorming session on regime complexes and fragmentation, and a focused workshop on the governance of energy subsidies.</p>
    <h2>Download</h2>
    <p><i class="fa fa-download left"></i><a href="documents/concept-note-energy-subsidies.pdf">Concept Note - Energy Subsidies</a><br />
    <i class="fa fa-download left"></i><a href="documents/program-kick-off-event.pdf">Program Kick-Off Event</a></p>
    <h2>List of participants</h2>
    <ul>
      <li>Amandine Orsini, Université Saint-Louis, Brussels</li>
      <li>Beatriz Martinez Romera, University of Copenhagen</li>
      <li>Benjamin Faude, WZB Berlin</li>
      <li>Dirk De Bièvre, University of Antwerp</li>
      <li>Dries Lesage, Ghent University</li>
      <li>Fariborz Zelli, Lund University</li>
      <li>Filip Sedefov, Vrije Universiteit Brussel</li>
      <li>Harri Kalimo, Vrije Universiteit Brussel</li>
      <li>Harro van Asselt, Stockholm Environment Institute, Oxford</li>
      <li>Ina Möller, Lund University</li>
      <li>Jakob Skovgaard, Lund University</li>
      <li>Jean-Frédéric Morin, Université Laval</li>
      <li>Johannes Urpelainen, Columbia University</li>
      <li>Kati Kulovesi, University of Eastern Finland</li>
      <li>Lea Wisken, WZB Berlin</li>
      <li>Margaret Young, Melbourne University</li>
      <li>Marija Isaelovic, Free University of Amsterdam and CONNECT</li>
      <li>Peter Debaere, Ghent University</li>
      <li>Sebastian Oberthür, Vrije Universiteit Brussel</li>
      <li>Thijs Van de Graaf, Ghent University</li>
      <li>Thomas Gehring, University of Bamberg</li>
      <li>Tim Meyer, Vanderbilt University</li>
    </ul>
    </section>
    
    <aside>
      <%= image_tag "banner-300x156.jpg" %>
    </aside>
  </article>
</div>
