<div class="wrapper">
  <article class="event">
    <div class="breadcrumb">
      <a href="/events.html">Events</a>
      <a href="javascript:void(0)">Refract Kick-Off Meeting, June 25-26</a>
    </div>
    <header>
      <h1>Refract Kick-Off Meeting, June 25-26</h1>
    </header>
    <aside>
      <%= image_tag "banner-300x156.jpg" %>
    </aside>
    <section class="practical">
      <ul>
        <li><i class="fa fa-calendar left"></i>June 25-26 2015</li>
      <li><i class="fa fa-map-marker left"></i>Institute for European Studies, VUB, Brussels</li>
      </ul>
    </section>
    <section class="content">
      <p>On June 25-26, Refract will hold its kick-off meeting in Brussels. The meeting will consist of two sessions: a brainstorming session on regime complexes and fragmentation, and a focused workshop on the governance of energy subsidies.</p>
    </section>
  </article>
</div>
