---
title: "Refract Kick-Off Meeting"
description: "On June 25-26, Refract will hold its kick-off meeting in Brussels"
---
<div class="wrapper">
  <article class="event">
    <div class="breadcrumb">
      <a href="/events.html">Events</a>
      <a href="javascript:void(0)">Refract Kick-Off Meeting, June 25-26</a>
    </div>
    <header>
      <h1>Refract Kick-Off Meeting, June 25-26</h1>
    </header>
    <section class="practical">
      <ul>
        <li><i class="fa fa-calendar left"></i>June 25-26 2015</li>
        <li><i class="fa fa-map-marker left"></i>Institute for European Studies, VUB, Brussels, Pleinlaan 5, Brussels, Belgium
        </li>
      </ul>
    </section>
    <section class="content">
      <p>On June 25-26, Refract will hold its kick-off meeting in Brussels. The meeting will consist of two sessions: a brainstorming session on regime complexes and fragmentation, and a focused workshop on the governance of energy subsidies.</p>
    <h2>Download</h2>
    <p><i class="fa fa-download left"></i><a href="documents/concept-note-energy-subsidies.pdf">Concept Note - Energy Subsidies</a><br />
    <i class="fa fa-download left"></i><a href="documents/program-kick-off-event.pdf">Program Kick-Off Event</a></p>
    <h2>List of participants</h2>
    <ul>
      <li>Amandine Orsini, Université Saint-Louis, Brussels</li>
      <li>Beatriz Martinez Romera, University of Copenhagen</li>
      <li>Benjamin Faude, WZB Berlin</li>
      <li>Carlos Soria, Vrije Universiteit Brussel</li>
      <li>Dirk De Bièvre, University of Antwerp</li>
      <li>Dries Lesage, Ghent University</li>
      <li>Fariborz Zelli, Lund University</li>
      <li>Filip Sedefov, Vrije Universiteit Brussel</li>
      <li>Harri Kalimo, Vrije Universiteit Brussel</li>
      <li>Harro van Asselt, Stockholm Environment Institute, Oxford</li>
      <li>Ina Möller, Lund University</li>
      <li>Jakob Skovgaard, Lund University</li>
      <li>Jean-Frédéric Morin, Université Laval</li>
      <li>Johannes Urpelainen, Columbia University</li>
      <li>Justyna Pozarowska, Vrije Universiteit Brussel</li>
      <li>Kati Kulovesi, University of Eastern Finland</li>
      <li>Lea Wisken, WZB Berlin</li>
      <li>Margaret Young, Melbourne University</li>
      <li>Marija Isaelovic, Free University of Amsterdam and CONNECT</li>
      <li>Peter Debaere, Ghent University</li>
      <li>Sebastian Oberthür, Vrije Universiteit Brussel</li>
      <li>Thijs Van de Graaf, Ghent University</li>
      <li>Thomas Gehring, University of Bamberg</li>
      <li>Tim Meyer, Vanderbilt University</li>
    </ul>
    <div class="program">
      <h2>Program</h2>
      <h3>Thursday, June 25</h3>
      <table>
        <tr>
          <td>12.00-12.45<td>
              <td>Arrival and lunch (walking buffet), IES Event Space</td>
        </tr>
        <tr>
          <td>12.45-13.00<td>
          <td>Introduction and welcome</td>
        </tr>
      </table>
      <p class="session">Session 1: “Research frontiers in the study of regime complexes and fragmentation” (Lisbon Room)</p>
      <table>
        <tr>
          <td>13.00-15.00</td>
          <td>Short presentations (5-8 min.) and discussions of think pieces</td>
        </tr>
        <tr>
          <td>15.00-15.15</td>
          <td>Coffee break, Event Space</td>
        <tr>
          <td>15.15-16.45</td>
          <td>Short presentations (5-8 min.) and discussions of think pieces</td>
        <tr>
          <td>16.45-17.15</td>
          <td>Wrap-up and practical steps forward</td>
        <tr>
          <td>19.30</td>
          <td>Evening dinner at restaurant Rouge Tomate. The restaurant is at walking distance from the hotel. Taxi’s to the hotel will be provided.
          </td>
      </table>
      <h3>Friday, June 26</h3>
      <p class="session">Session 2: “Energy subsidies at the intersection of trade, climate and energy governance” (Lisbon Room)</p>
      <table>
        <tr>
          <td>09.00-09.15</td>
          <td>Framing and goals of the workshop (Thijs Van de Graaf and Harro van Asselt)</td>
        </tr>
        <tr>
          <td>09.15-10.15</td>
          <td>Paper 1: ”The G20, the OECD an the IMF Going Green? – The Influence and Limitations of Economic Institutions Promoting Fossil Fuel Subsidy Reform” (Jakob Skovgaard, Lund University)<br /><br />Discussant: Sebastian Oberth&uuml;r, VUB</td>
        <tr>
          <td>10.15-11.15</td>
          <td>Paper 2: “Removing Fuel Subsidies: How Can International Organizations Help?” (Joel E. Smith and Johannes Urpelainen, Columbia University)
            <br ><br />Discussant: Jean-Frédéric Morin, Laval University
          </td>
        <tr>
          <td>11.15-11.30</td>
          <td>Coffee break, Event Space</td>
        <tr>
          <td>11.30-12.30</td>
          <td>Paper 3: “A Concept Paper on Comparing Actual and Potential WTO Disputes on Energy Subsidies” (Dirk De Bièvre and Arlo Poletti, Antwerp University)
            <br /><br />Discussant: Benjamin Faude, WZB Berlin</td>
        <tr>
          <td>12.30-13.15</td>
          <td>Lunch (walking buffet), Event Space</td>
        <tr>
          <td>13.15-14.15</td>
          <td>Paper 4: “Fragmentation and Epistemic Governance in International Energy” (Tim Meyer, Vanderbilt University)
            <br /><br />Discussant: Amandine Orsini, Université Saint-Louis</td>
        <tr>
          <td>14.15-15.15</td>
          <td>Paper 5: ”Fossil Fuel Subsidies under the UNFCCC: Options and Limitations” (Harro van Asselt, SEI Oxford, and Kati Kulovesi, University of Eastern Finland)<br /><br />Discussant: Thomas Gehring, Bamberg University</td>
        <tr>
          <td>15.15-15.30</td>
          <td>Coffee break, Event Space</td>
        <tr>
          <td>15.15-15.45</td>
          <td>Paper 6: “Energy Subsidy Reform: Lessons from the Negotiations on Fisheries Subsidies” (Margaret Young, Melbourne University)<br /><br />Discussant: Fariborz Zelli, Lund University</td>
        <tr>
          <td>15.45-16.45</td>
          <td>Paper 7: ”Impasses, Detours and Fast-lanes – Mapping the Route for Renewable Energy Promotion under WTO law” (Harri Kalimo, Max S. Jansson, Filip Sedefov, IES, VUB)<br /><br >Discussant: Thijs Van de Graaf, Ghent University</td>
        <tr>
          <td>16.45-17.15</td>
          <td>Wrap-up and next steps</td>
        <tr>
          <td>17.15</td>
          <td>End of the workshop</td>
      </table>
    </div>
    </section>
    
    <aside>
      <%= image_tag "banner-300x156.jpg" %>
    </aside>
  </article>
</div>
