---
title: "Sebastian Oberth&uuml;r"
description: "Sebastian Oberthür is the Academic Director of the Institute for European Studies."
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Sebastian Oberth&uuml;r</a>
  </nav>
  <header>
    <h1 itemprop="name">Sebastian Oberth&uuml;r</h1>
  </header>
  <aside>
  <img src="images/sebastian-oberthur.jpg" alt="Sebastian Oberth&uuml;r" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:sebastian.oberthuer@vub.ac.be" itemprop="email">sebastian.oberthuer@vub.ac.be</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:0032477841654" itemprop="telephone">+32-477-841654</a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">Vrije Universiteit Brussel<br />
    Institute for European Studies</span> 
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation"><a href="http://http://www.ies.be" rel="external">Institute for European Studies</a><i class="fa fa-external-link right"></i></p>
    <h2>Biography</h2>
    <p>Sebastian Oberthür is the Academic Director of the IES. Trained as a political scientist with a strong background in international law, he focuses on issues of international and European environmental governance, with an emphasis on institutional issues and perspectives.</p>
    <p>His current research interest extends in particular to the horizontal and vertical integration of international institutions and policies relevant to the environment, including the interplay between environmental agreements/institutions and other policies (e.g. trade, transport), as well as the role and performance of the EU in international (environmenmtal) institutions.</p>
  </div>
</article>
