---
title: "Sebastian Oberth&uuml;r"
description: "Sebastian Oberthür is the Academic Director of the Institute for European Studies."
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Sebastian Oberth&uuml;r</a>
  </nav>
  <header>
    <h1 itemprop="name">Sebastian Oberth&uuml;r</h1>
  </header>
  <aside>
  <img src="images/sebastian-oberthur.jpg" alt="Sebastian Oberth&uuml;r" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:sebastian.oberthuer@vub.ac.be" itemprop="email">sebastian.oberthuer@vub.ac.be</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:0032477841654" itemprop="telephone">+32-477-841654</a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">Vrije Universiteit Brussel<br />
    Institute for European Studies</span> 
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation"><a href="http://http://www.ies.be" rel="external">Institute for European Studies</a><i class="fa fa-external-link right"></i></p>
    <h2>Biography</h2>
    <p>Sebastian Oberthür is the Academic Director of the Institute for European Studies (IES) at the Vrije Universiteit Brussel (VUB).</p>
    <p>Trained as a political scientist with a strong background in international law, he focuses on issues of international and European environmental and climate governance, with an emphasis on institutional issues and perspectives.
    <p>Since the early 1990s, Sebastian Oberthür’s research has, inter alia, addressed the structure and design of the system of international environmental institutions/governance, the horizontal and vertical interaction and integration of international institutions and policies relevant to the environment (including the interplay between environmental agreements/institutions and other policies such as trade or transport policy), the development and implementation of various international environmental agreements (including the Kyoto Protocol to the UN Framework Convention on Climate Change) and the domestic and external environmental/climate policies of the European Union.</p>
    <p>Dr. Oberthür has published widely on these subjects and is invited regularly as an expert to participate in and speak at relevant conferences and workshops. He has followed the international negotiating processes on the protection of the ozone layer and on global climate for several years as a scientific observer and a government advisor.</p>

  </div>
</article>
