<div class="wrapper">
  <article class="newsarticle">
    <div class="breadcrumb">
      <a href="/news.html">News</a>
      <a href="javascript:void(0)">Now published: ‘The International Governance of Energy Subsidies’</a>
    </div>
    <div class="content">
    <header>
      <h1>Now published: ‘The International Governance of Energy Subsidies’</h1>
    </header>
    <footer>
        <p class="date">Posted on <time datetime="2017-03-31">31 March 2017</time></p>
    </footer>
    <section class="practical">
    </section>
    <section class="bodytext">
      <p>A special issue of the journal International Environmental Agreements: Politics, Law and Economics has just been published on the topic of energy subsidies, which was the focus of the <a href="/refract-kick-off-meeting.html">very first REFRACT workshop in June 2015</a>.</p>
      <p>Overview of the contributions:</p>
      <ul>
        <li>Van de Graaf, T. &amp; van Asselt, H. (2017). Introduction to the special issue: energy subsidies at the intersection of climate, energy, and trade governance. Int Environ Agreements,  <a href="https://doi.org/10.1007/s10784-017-9359-8">https://doi.org/10.1007/s10784-017-9359-8</a>.</li>
        <li>Smith, J.E. &amp; Urpelainen, J. (2017). Removing fuel subsidies: How can international organizations support national policy reforms? Int Environ Agreements, <a href="https://doi.org/10.1007/s10784-017-9358-9">https://doi.org/10.1007/s10784-017-9358-9</a>.</li>
        <li>Skovgaard, J. (2017). The devil lies in the definition: competing approaches to fossil fuel subsidies at the IMF and the OECD. Int Environ Agreements, <a href="https://doi.org/10.1007/s10784-017-9355-z">https://doi.org/10.1007/s10784-017-9355-z</a>. </li>
        <li>van Asselt, H. &amp; Kulovesi, K. (2017). Seizing the opportunity: tackling fossil fuel subsidies under the UNFCCC. Int Environ Agreements, <a href="https://doi.org/10.1007/s10784-017-9357-x">https://doi.org/10.1007/s10784-017-9357-x</a>. </li>
        <li>Young, M.A. (2017). Energy transitions and trade law: lessons from the reform of fisheries subsidies. Int Environ Agreements, <a href="https://doi.org/10.1007/s10784-017-9360-2">https://doi.org/10.1007/s10784-017-9360-2</a>.</li>
        <li>Meyer, T. (2017). Explaining energy disputes at the World Trade Organization. Int Environ Agreements,<a href="https://doi.org/10.1007/s10784-017-9356-y">https://doi.org/10.1007/s10784-017-9356-y</a>.</li>
        <li>De Bièvre, D., Espa, I. &amp; Poletti, A. (2017). No iceberg in sight: on the absence of WTO disputes challenging fossil fuel subsidies. Int Environ Agreements, <a href="https://doi.org/10.1007/s10784-017-9362-0">https://doi.org/10.1007/s10784-017-9362-0</a>.</li>
        <li>Kalimo, H., Sedefov, F. &amp; Jansson, M.S. (2017). Market definition as value reconciliation: the case of renewable energy promotion under the WTO Agreement on Subsidies and Countervailing Measures. Int Environ Agreements, <a href="https://doi.org/10.1007/s10784-017-9361-1">https://doi.org/10.1007/s10784-017-9361-1</a>.</li>
      </ul>
    </section>
    </div>
    <aside>
      &nbsp;
    </aside>
  </article>
</div>
