---
title: "Thijs Van de Graaf"
description: "Thijs Van de Graaf is an assistant professor (tenure track) of International Politics at the Ghent Institute for International Studies" 
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Thijs Van de Graaf</a>
  </nav>
  <header>
    <h1 itemprop="name">Thijs Van de Graaf</h1>
  </header>
  <aside>
  <img src="images/thijs-van-de-graaf.jpg" alt="daniel biltereyst" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:thijs.vandegraaf@ugent.be" itemprop="email">thijs.vandegraaf@ugent.be</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:3292646874" itemprop="telephone">+32 9264 68 74 </a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">Ghent University<br />
    Department of Political Science<br />
    Universiteitstraat 8, B-9000 Gent </span> 
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation"><a href="http://www.giis.ugent.be/" rel="external">Ghent Institute for International Studies</a><i class="fa fa-external-link right"></i></p>
    <section class="biography">
    <h2>Biography</h2>
    <p>Thijs Van de Graaf is an assistant professor (tenure track) of International Politics at the Ghent Institute for International Studies, Ghent University, Belgium. His research covers energy security, international politics and global governance.</p>
    <p>He is co-editor of Rising Powers and Multilateral Institutions (Palgrave, 2015), author of The Politics and Institutions of Global Energy Governance (Palgrave, 2013) and co-author of Global Energy Governance in a Multipolar World (Ashgate, 2010). His research has appeared or is forthcoming in journals such as Global Environmental Politics; Energy Policy; British Journal of Political Science; International Environmental Agreements; Global Governance; Global Policy; Middle East Policy; Futures; and the Review of International Organizations.</p>
    <p>From 2009 to 2011, Thijs was a member of the S.T. Lee Study Group on Global Energy Governance led by Ann Florini and Navroz Dubash. In April-May 2011, he was a visiting scholar at the Woodrow Wilson School of Public and International Affairs, Princeton University, where he worked under the auspices of Robert O. Keohane.</p>
    <p>Thijs is the coordinator of the REFRACT network, a member of the steering committee of the regular <a href="http://www.wire-series.org">WIRE seminars</a>, and an associated member of the <a href="http://repi.ulb.ac.be/en/users/tvandegraaf">REPI research group</a> at the Université Libre de Bruxelles (ULB). He is also a Research Fellow with the <a href="http://www.earthsystemgovernance.org/people/person/thijs-van-de-graaf">Earth System Governance network</a>.</p>
    <p>He is a member of the editorial boards of Energy Research &amp; Social Science (Elsevier), and International Environmental Agreements (Springer).</p>
    </section
  </div>
</article>
