---
title: "Thomas Gehring"
description: "Dr. Thomas Gehring is Professor of International Politics at the university of Bamberg"
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Thomas Gehring</a>
  </nav>
  <header>
    <h1 itemprop="name">Thomas Gehring</h1>
  </header>
  <aside>
  <img src="images/thomas-gehring.jpg" alt="thomas gehring" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:thomas.gehring@uni-bamberg.de" itemprop="email">thomas.gehring@uni-bamberg.de</a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">University of Bamberg</span> 
    </p>
    <h2>Biography</h2>
    <p>Dr. Thomas Gehring is Professor of International Politics. His research focuses on issues of governance beyond the nation state; the emergence, development and operation of international institutions; as well as policy-making within the European Union.</p><p>Research has been published inter alia in such journals as European Journal of International Relations, International Studies Quarterly, Journal of European Public Policy, Journal of Common Market Studies, Global Environmental Politics and European Journal of Political Research.</p>
  </div>
</article>
