---
title: "Thomas Gehring"
description: "Daniel Biltereyst is Full Professor in Film and Media Studies at the Communication Studies Department at Ghent University" 
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Thomas Gehring</a>
  </nav>
  <header>
    <h1 itemprop="name">Thomas Gehring</h1>
  </header>
  <aside>
  <img src="images/daniel-biltereyst.png" alt="daniel biltereyst" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-envelope left"></i> <a href="mailto:sebastian.oberthuer@vub.ac.be" itemprop="email">sebastian.oberthuer@vub.ac.be</a><br />
    <i class="fa fa-phone left"></i> <a href="tel:003292646864" itemprop="telephone"></a><br />
    <i class="fa fa-home left"></i>
    <span itemprop="address">Ghent University<br />
    Department of Communication Science<br />
    Korte Meer 11, 9000 Ghent (Belgium)</span> 
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation"><a href="http://www.cims.ugent.be/" rel="external">Centre for Cinema and Media Studies</a><i class="fa fa-external-link right"></i></p>
    <h2>Biography</h2>
  </div>
</article>
