---
title: "Vernon Rive"
description: "Vernon Rive is a Senior Lecturer and Director of External Relations at AUT University School of Law" 
---

<article class="researcher" role="article" itemscope itemtype="http://schema.org/Person">
  <nav class="breadcrumb" role="navigation">
    <a href="/members.html">Members</a>
    <a href="javascript:void(0)">Vernon Rive</a>
  </nav>
  <header>
    <h1 itemprop="name">Vernon Rive</h1>
  </header>
  <aside>
  <img src="images/vernon-rive.jpg" alt="vernon rive" itemprop="image" />
  </aside>
  <div class="content">
    <h2>Contact</h2>
    <p>
    <i class="fa fa-home left"></i>
    <span itemprop="address">aut university school of law<br />
      Private Bag 92006, Auckland 1142<br />
      New Zealand
    </span> 
    </p>
    <h2>Affiliation</h2>
    <p itemprop="affiliation"><a href="http://www.aut.ac.nz/study-at-aut/study-areas/law/law-school-staff/senior-lecturers/vernon-rive">AUT University School of Law, Auckland, New Zealand</a><i class="fa fa-external-link right"></i></p>
    <p itemprop="affiliation"><a href="http://www.nzcel.auckland.ac.nz/en/nzcel.html">New Zealand Centre for Environmental Law</a><i class="fa fa-external-link right"></i></p>
    <section class="biography">
    <h2>Biography</h2>
    <p>Vernon Rive (BA, LLB, LLM (Hons), Auckland) is a Senior Lecturer and Director of External Relations at AUT University School of Law, Auckland. His research activities focus on three key areas of interest: climate change law, international environmental law and New Zealand environmental law.</p>
    <p>Vernon is in the process of completing a book Fossil Fuel Subsidy Reform: an International Law Response (Edward Elgar, forthcoming) which, among other things, examines the ability of a fragmented international law system to effectively respond to the widespread and largely uncontrolled practices of government support for fossil fuel exploration, production and consumption.</p>
    <p>The book will be one output of a 2-year research project supported by the New Zealand Law Foundation, involving empirical and theoretical research with input from a wide range of academics, government officials, diplomats and NGO representatives from around the world.</p>
    </section
  </div>
</article>
