---
title: "Workshop on Boundary Organizations in International Affairs"
description: ""
---
<div class="wrapper">
  <article class="event">
    <div class="breadcrumb">
      <a href="/events.html">Events</a>
      <a href="javascript:void(0)">Workshop on "Boundary Organizations in International Affairs</a>
    </div>
    <header>
      <h1>Workshop on "Boundary Organizations in International Affairs</h1>
    </header>
    <section class="practical">
      <ul>
        <li><i class="fa fa-calendar left"></i>August 26-27 2015</li>
        </li>
      </ul>
    </section>
    <section class="content">
    <h2>Download</h2>
    <p><i class="fa fa-download left"></i><a href="documents/preliminary-program-8th-wire.pdf">Preliminary Program 8th WIRE</a><br />
    <i class="fa fa-download left"></i><a href="documents/call-for-papers-wire-2015.pdf">Call For Papers WIRE 2015</a></p>

    <div class="program">
      <h2>Program<h2>
        <h3>Wednesday 26th August</h3>
        <table>
          <tr>
            <td>8:30 – 9:00</td>
            <td>Coffee</td>
          </tr>
          <tr>
            <td>9:00 – 9:30</td>
            <td>Welcome and introduction</td>
          </tr>
          <tr>
            <td>9:30 – 10:30</td>
            <td>Logics of science, politics, and law in international environmental protection: The role of boundary organisations by Jaye Ellis<br /><br />
             Discussant: Jean-Fr&eacute;d&eacute;ric Morin 
            </td>
          </tr>
          <tr>
            <td>10:30 – 10:45</td>
            <td>Break</td>
          </tr>
          <tr>
            <td>0:45 – 11:45</td>
            <td>Bridging 'Science,' 'Policy,' and 'Support': Doing Boundary Work in Radioactive Waste Governance, by Michiel van Oudheusden and Jantine Schr&ouml;der<br /><br />
              Discussant: Sameea Ahmed-Hassi
            </td>
          </tr>
          <tr>
            <td>1:45 – 12:45</td>
            <td>Coming to Terms with Institutional Fragmentation – Competition and Convergence between Boundary Organizations in International Health, by Anna Holzscheiter<br /><br />
               Discussant: Jim Dratwa 
            </td>
          </tr>
          <tr>
            <td>12:45 – 1:30</td>
            <td>Lunch</td>
          </tr>
          <tr>
            <td>1:30 – 2:30</td>
            <td>Patterns of dominance in the authorship of the IPCC’s Working Group III 5th Assessment Report, by Matthew Paterson and Hanna Hughes<br /><br />
              Discussant: Jean Foyer
            </td>
          </tr>
          <tr>
            <td>2:30 – 3:30</td>
            <td>Constitution of the Intergovernmental Science-Policy Platform on Biodiversity and Ecosystem Services (IPBES), by Alice Vadrot<br /><br />
              Discussant: S&eacute;lim Louafi
            </td>
          </tr>
          <tr>
            <td>3:30 – 4:00</td>
            <td>Break</td>
          </tr>
          <tr>
            <td>4:00 – 5:00</td>
            <td>National innovation systems: The OECD as a boundary organization in science
              policy, innovation and development, by Rob Hagendijk and Tiago Santos Pereira<br /><br />
            Discussant: Hannah Hughes</td>
          </tr>
        </table>
        <h3>Thursday 27th August</h3>
        <table>
          <tr>
            <td>9:00 – 10:00</td>
                <td>Using Numbers, Formalising Procedures: Science-Policy Interactions in the Climate Field, by Goran Sundqvist<br /><br />
                    Discussant: Philippe Le Prestre 
                  </td>
          </tr>
          <tr>
            <td>10:00 – 11:00</td>
            <td>EU think tanks as boundary organizations: in search of an organizational identity, by Tatyana Bajenova<br /><br />
             Discussant: Jacob Hasselbalch 
            </td>
          </tr>
          <tr>
            <td>11:00–11:30</td>
            <td>Break</td>
          </tr>
          <tr>
            <td>11:30 – 12:30</td>
            <td>Is A Melting Arctic Making The Arctic Council Too Cool? Exploring the limits to the effectiveness of a boundary organization, by Jennifer Spence<br /><br />
             Discussant: Krystel Wanneau 
            </td>
          </tr>
          <tr>
            <td>12:30 – 1:30</td>
            <td>Undemarcated spaces of knowledge-informed policy making: how useful is the
              concept of boundary organization? by Daniel Compagnon<br /><br />
              Discussant: Steven Bernstein 
            </td>
          </tr>
          <tr>
            <td>1:30</td>
            <td>Lunch</td>
          </tr>
        </table>
    </div>
    </section>
    
    <aside>
      <%= image_tag "workshop-aug-2015.jpg" %>
    </aside>
  </article>
</div>
