---
title: "Workshop The Dynamics of Dissent: Direct and Indirect Norm Contestation"
description: This workshop seeks to break new ground by exploring a second type of norm contestation
---
<div class="wrapper">
  <article class="event">
    <div class="breadcrumb">
      <a href="/events.html">Events</a>
      <a href="javascript:void(0)">Workshop The Dynamics of Dissent: Direct and Indirect Norm Contestation</a>
    </div>
      <header>
        <h1>Workshop The Dynamics of Dissent: Direct and Indirect Norm Contestation</h1>
      </header>
      <section class="practical">
        <ul>
          <li><i class="fa fa-calendar left"></i>June 2 - June 3, 2017</li>
          <li><i class="fa fa-marker"></i>Nuffield College, Oxford</li>
          </li>
        </ul>
      </section>
      <section class="content">
      <h2>Download</h2>
      <p><i class="fa fa-download"></i><a href="documents/final_programme_dynamics_of_dissent.pdf">Final programme</a><br>
      <i class="fa fa-download"></i><a href="documents/participants_list.pdf">Participants list</a><br>
      <i class="fa fa-download"></i><a href="documents/workshop_report_dynamics_of_dissent.pdf">Workshop report</a></p>
        <h2>Theme</h2>
        <p>So far, research on norm contestation has focused on debates on the meaning and (relative) importance of norms. This workshop seeks to break new ground by exploring a second type of norm contestation, which is more indirect. In contrast with direct, discursive contestation, indirect contestation becomes apparent in the way in which actors in which implement a norm. For instance, actors may indirectly contest a norm through ineffective procedures or insufficient funding. Direct and indirect contestation are not mutually exclusive, but can happen at the same time, sequentially or independently of each other. This research workshop explores two main questions: First, under what conditions should we expect to see indirect and direct contestation, respectively, and what is the relation between the two? Second, what impact does the way contestation occurs have on its effect on norms?</p>
      </section>
      <aside>
        &nbsp;
      </aside>
  </article>
</div>
