---
title: "Workshop on Boundary Organizations in International Affairs"
description: ""
---
<div class="wrapper">
  <article class="event">
    <div class="breadcrumb">
      <a href="/events.html">Events</a>
      <a href="javascript:void(0)">Workshop on "Boundary Organizations in International Affairs</a>
    </div>
    <header>
      <h1>Workshop on "Boundary Organizations in International Affairs</h1>
    </header>
    <section class="practical">
      <ul>
        <li><i class="fa fa-calendar left"></i>August 26-27 2015</li>
        </li>
      </ul>
    </section>
    <section class="content">
    <h2>Download</h2>
    <p><i class="fa fa-download left"></i><a href="documents/preliminary-program-8th-wire.pdf">Preliminary Program 8th WIRE</a><br />
    <i class="fa fa-download left"></i><a href="documents/call-for-papers-wire-2015.pdf">Call For Papers WIRE 2015</a></p>

    <div class="program">
      <h2>Program<h2>
        <h3>Wednesday 26th August</h3>
        <table>
          <tr>
            <td>9:30 – 10:00</td>
            <td>Coffee</td>
          </tr>
          <tr>
            <td>10:00 – 10:30</td>
            <td>Welcome and introduction</td>
          </tr>
          <tr>
            <td>10:30 – 11:30</td>
            <td>Logics of science, politics, and law in international environmental protection: The role of boundary organisations by Jaye Ellis<br /><br />
             Discussant: Jean-Fr&eacute;d&eacute;ric Morin 
            </td>
          </tr>
          <tr>
            <td>11:30 – 11:45</td>
            <td>Break</td>
          </tr>
          <tr>
            <td>11:45 – 12:45</td>
            <td>Coping with Institutional Fragmentation? Competition and Convergence between Boundary Organizations in International Health, by Anna Holzscheiter<br><br>
              Discussant: Jim Dratwa
            </td>
          </tr>
          <tr>
            <td>1:45 – 12:45</td>
            <td>Coming to Terms with Institutional Fragmentation – Competition and Convergence between Boundary Organizations in International Health, by Anna Holzscheiter<br /><br />
               Discussant: Jim Dratwa 
            </td>
          </tr>
          <tr>
            <td>12:45 – 1:30</td>
            <td>Lunch</td>
          </tr>
          <tr>
            <td>1:30 – 2:30</td>
            <td>The Culture of IPCC Authorship, by Hannah Hughes and Matthew Paterson<br><br>
            Discussant: Jean Foyer</td>
          </tr>
          <tr>
            <td>2:30 – 3:30</td>
            <td>Constitution of the Intergovernmental Science-Policy Platform on Biodiversity and Ecosystem Services (IPBES) - a boundary organisation for biodiversity? – A case of “epistemic selectivity”, by Alice Vadrot<br><br>
            Discussant: S&eacute;lim Louafi</td>
          </tr>
          <tr>
            <td>3:30 – 4:00</td>
            <td>Break</td>
          </tr>
          <tr>
            <td>4:00 – 5:00</td>
            <td>What “Fixed Point” for the Climate? Science-Policy Interactions in the Proposed Black Bali-Box, by Goran Sundqvist and Bard Lahn<br><br>
            Discussant: Philippe Le Prestre</td>
          </tr>
          <tr>
            <td>7:00</td>
            <td>Diner</td>
          </tr>
        </table>
        <h3>Thursday 27th August</h3>
        <table>
          <tr>
            <td>9:30 – 10:30</td>
            <td>EU think tanks as boundary organizations: in search of an organizational identity, by Tatyana Bajenova<br><br>
            Discussant: Jacob Hasselbalch</td>
          </tr>
          <tr>
            <td>10:30–11:00</td>
            <td>Break</td>
          </tr>
          <tr>
            <td>11:30 – 12:30</td>
            <td>Is A Melting Arctic Making The Arctic Council Too Cool? Exploring the limits to the effectiveness of a boundary organization, by Jennifer Spence<br /><br />
             Discussant: Krystel Wanneau 
            </td>
          </tr>
          <tr>
            <td>12:00 – 1:00</td>
            <td>Non-demarcated spaces of knowledge-informed policy making: how useful is the concept of boundary organization in IR?, by Daniel Compagnon<br><br>
              Discussant: Steven Bernstein
            </td>
          </tr>
          <tr>
            <td>1:00</td>
            <td>Lunch</td>
          </tr>
        </table>
    </div>
    </section>
    
    <aside>
      <%= image_tag "workshop-aug-2015.jpg" %>
    </aside>
  </article>
</div>
