---
title: "Workshop Complex Systems for Global Governance"
description: "This workshop is part of the WIRE series (Workshops on International Relations)"
---
<div class="wrapper">
  <article class="event">
    <div class="breadcrumb">
      <a href="/events.html">Events</a>
      <a href="javascript:void(0)">Workshop Complex Systems for Global Governance</a>
    </div>
    <header>
      <h1>Workshop Complex Systems for Global Governance</h1>
      <h2>10th WIRE (Workshop on International Relations)</h22>
    </header>
    <section class="practical">
      <ul>
        <li><i class="fa fa-calendar left"></i>June 30th - July 1st, 2016</li>
        <li><i class="fa fa-map-marker left"></i>Brussels, Belgium</li>
        </li>
      </ul>
    </section>
    <section class="content">
    <h2>Download</h2>
    <p><i class="fa fa-download"></i><a href="documents/9th_wire_workshop_programme.pdf">9th-wire-workshop-programme.pdf</a></p>
    <h2>Theme</h2>
    <p>IR theorists have been looking at complexity at least since the late 1990s. However, it has yet to be as institutionalized as in the mathematics, engineering, economic, natural and health sciences. The current search for new models of international governance, away from a centralized perspective forces us to take a harder look both at the promises and at the limitations of decentralized governance models based on complex system theory. In this context, questions pertain mainly to its theoretical usefulness and operationalization. Papers are sought that apply complex systems theory to the study of international affairs while addressing some of the questions above. The need is not for more papers on the potential usefulness of this approach. Rather, it is to see how it has been or can be applied in practice and what difference it makes.</p>
      <div class="program">
        <h2>Program</h2>
        <h3>Thursday 30th June</h3>
        <table>
          <tr>
            <td>9:00 – 09:30</td>
            <td>Coffee</td>
          </tr>
          <tr>
            <td>09:30 – 10:00</td>
            <td>Welcome and introduction</td>
          </tr>
          <tr>
            <td>10:00 – 11:00</td>
            <td>
              World Politics as Process: Toward a Complexity Theory of International Relations, by Neil E. Harrison<br>
              Discussant: Jean-Frédéric Morin
              </ul>
            </td>
          </tr>
          <tr>
            <td>11:00 – 11:15</td>
            <td>Break</td>
          </tr>
          <tr>
            <td>11:15 – 12:15</td>
            <td>The Governance of Emergence, by David Chandler<br>
          Discussant: Christian Olsson 
            </td>
          </tr>
          <tr>
            <td>12:15 – 1:00</td>
            <td>Lunch</td>
          </tr>
          <tr>
            <td>1:00 – 2:00</td>
            <td>International Policy Making under Conditions of Complexity, by Stephen C. Hobden<br>
            Discussant: Thijs Van de Graaf</td>
          </tr>
          <tr>
            <td>2:00 – 3:00</td>
            <td>Governance Architectures as Complex Systems, by Philipp Pattberg<br>
            Discussant: Krystel Wanneau</td>
          </tr>
          <tr>
            <td>3:00 – 3:30</td>
            <td>Break</td>
          </tr>
          <tr>
            <td>3:30 – 4:30</td>
            <td>Fractal Governance of the Biodiversity Regime Complex, by Philippe Le Prestre<br>
            Discussant: Peter Haas</td>
          </tr>
          <tr>
            <td>4:30 – 5:30</td>
            <td>Environmental Regulatory Innovations in the Complex Trade System, by Jean-Frédéric Morin, James Hallway and Joost Pauwelyn (TBC)<br>Discussant: Pauline Pirlot</td>
          </tr>
          <tr>
            <td>7:00</td>
            <td>Diner</td>
          </tr>
        </table>
        <h3>Friday 1st July</h3>
        <table>
          <tr>
            <td>9:30 – 10:30</td>
            <td>Complexity Theory and IR Theory, by Peter Haas<br>Discussant: Sebastian Oberthür</td>
          </tr>
          <tr>
            <td>10:30 – 11:00</td>
            <td>Break</td>
          </tr>
          <tr>
            <td>11:00 - 12:00</td>
            <td>Complexity Theory and IO Interaction: Operationalising the ‘complex’
              in regime complexity, by Malte Brosig<br>Discussant: Claire Godet</td>
          </tr>
          <tr>
            <td>12:00 – 1:00</td>
            <td>Complexity, Pragmatism and International Relations, by Robert Geyer<br>Discussant: Neil E. Harrisson</td>
          </tr>
          <tr>
            <td>1:00</td>
            <td>Lunch</td>
          </tr>
          <tr>
            <td>2:00 – 3:00</td>
            <td>Wrap-up session</td>
          </tr>
        </table>
      </div>
    </section>
    <aside>
      &nbsp;
    </aside>
  </article>
</div>
