<div class="wrapper">
  <article class="newsarticle">
    <div class="breadcrumb">
      <a href="/news.html">News</a>
      <a href="javascript:void(0)">Energy subsidies at the intersection of the climate, energy and trade regimes</a>
    </div>
    <div class="content">
    <header>
      <h1>Energy subsidies at the intersection of the climate, energy and trade regimes</h1>
    </header>
    <footer>
        <p class="date">Posted on <time datetime="2015-07-15">15 July 2015</time></p>
    </footer>
    <section class="practical">
    </section>
    <section class="bodytext">
      <blockquote>A workshop convened by the Research Network on Fragmentation and Complexity in Global Governance (REFRACT) and the Stockholm Environment Institute brought together perspectives on the issue from international relations and international law.</blockquote>
      <p>Subsidies for the production and consumption of energy have risen to the forefront of global political debates in recent years. Fossil fuel subsidies have garnered particular attention since the leaders of the G20 pledged in 2009 to phase out “inefficient” subsidies. Despite this commitment, fossil fuel subsidies still amounted to $550 billion in 2013, according to the <a href="http://www.worldenergyoutlook.org/publications/weo-2014">International Energy Agency</a> (IEA) – four times the scale of renewable energy subsidies.</p>
      <p><a href="http://www.nature.com/nature/journal/v517/n7533/abs/nature14016.html">Recent insights</a> that up to 80% of fossil-fuels must be kept underground to avoid the most catastrophic effects of climate change, combined with falling oil prices and a growing movement in favour of divestment away from fossil fuels, have strengthened the case for fossil fuel subsidy reform.</p>
      <p>At the same time, renewable energy subsidies – such as for the deployment of wind or solar technologies, or for the production of biofuels – have become the subject of several international disputes. World Trade Organization (WTO) adjudicators <a href="https://www.wto.org/english/tratop_e/dispu_e/cases_e/ds412_e.htm">struck down</a> a proposed feed-in-tariff in the Canadian province of Ontario because it favoured locally produced equipment; the United States has filed a <a href="https://www.wto.org/english/tratop_e/dispu_e/cases_e/ds456_e.htm">complaint against India</a> on similar grounds. In another prominent case, the WTO <a href="https://www.wto.org/english/tratop_e/dispu_e/cases_e/ds437_e.htm">struck down</a> countervailing duty measures imposed by the United States on solar panels from China.</p>
      <p>Energy subsidies are governed by a complex set of institutions at the intersection of climate, trade and energy governance. From a climate perspective, they can either impede or facilitate the transition to a low-carbon economy. From a trade perspective, energy subsidies may be allowable or unduly interfere with free trade. From an energy perspective, subsidies are often seen as tools to achieve specific policy objectives, such as combating energy poverty or securing energy supply.</p>
      <p>Yet these three perspectives are seldom examined together, and it remains unclear how the different pieces of the global governance complex for energy subsidies functions as a whole.</p>
      <p>Against this backdrop, the Research network on Fragmentation and Complexity in Global Governance REFRACT, together with the Stockholm Environment Institute’s <a href="http://www.sei-international.org/fossil-fuels-climate-mitigation">Initiative on Fossil Fuels and Climate Change</a>, convened an interdisciplinary workshop on 26 June in Brussels, seeking to increase understanding of the global governance of energy subsidies.</p>
      <h2>Who are the key players?</h2>
      <p> Several presentations focused on mapping the institutional complex for energy subsidies. Institutions such as the G20 and the Asia-Pacific Economic Cooperation forum offer useful venues for making political declarations on fuel subsidy reform and peer review of countries’ reform efforts. Likewise, institutions such as the International Monetary Fund (IMF) and the Organisation for Economic Co-operation and Development (OECD) are playing a key role in defining and measuring fossil fuel subsidies.</p>
      <p>By contrast, action to address fossil fuel subsidies under the United Nations Framework Convention on Climate Change (UNFCCC) has been limited to date. Activities under the WTO have mainly concerned renewable energy subsidies; however, the permissibility of some subsidies (such as the European Union’s support to biofuels) under international trade law remains unclear.</p>
      <h2>A missing controversy?</h2>
      <p>Another set of presentations looked at a curious puzzle in international trade law and policy: Why is it that fossil fuel subsidies have not been challenged under the WTO or elsewhere, while renewable energy subsidies are increasingly under scrutiny?</p>
      <p>One theory suggests that the closer scrutiny of renewable energy subsidies can be explained by the extent to which countries can diversify their economies, and the varied distribution of renewable energy technologies and fossil fuel production It was further suggested that examining a large number of potential WTO cases that never made it to the adjudicators could offer new insights into why certain subsidies remain unchallenged</p>
      <h2>Exploring new options</h2>
      <p>Finally, several presentations discussed possible ways forward in the governance of energy subsidies. In addressing fossil fuel subsidies under the WTO, lessons may be learned from how a limited set of countries managed to put the controversial issue of fisheries subsidies on the agenda of the trade negotiations. Likewise, there are several options for the UNFCCC to tackle fossil fuel subsidies, although the role of the UNFCCC needs to be viewed in the context of other institutions active in this field.</p>
      <p>Over the course of the day, participants discussed the functions of international institutions in addressing energy subsidies – for example, by promoting transparency and offering reputational incentives. They also explored the international political economy of how the scope of energy subsidies is defined by institutions such as the IEA, IMF and OECD. And they examined ways in which the WTO could be supported by other international institutions in addressing energy subsidies, as well as the role of regional trade agreements in tackling fossil fuel subsidies.</p>
      <blockquote>A list of participants and agenda of the meeting can be found <a href="refract-kick-off-meeting.html">here</a>. Papers presented at the workshop will be published as a special journal issue</blockquote>
    </section>
    </div>
    <aside>
      <%= image_tag "refract-kick-off-event.jpg" %>
    </aside>
  </article>
</div>
