---
title: "Workshop Complex Systems for Global Governance"
description: "This workshop is part of the WIRE series (Workshops on International Relations)"
---
<div class="wrapper">
  <article class="event">
    <div class="breadcrumb">
      <a href="/events.html">Events</a>
      <a href="javascript:void(0)">Workshop Complex Systems for Global Governance</a>
    </div>
    <header>
      <h1>Workshop Complex Systems for Global Governance</h1>
      <h2>10th WIRE (Workshop on International Relations)</h22>
    </header>
    <section class="practical">
      <ul>
        <li><i class="fa fa-calendar left"></i>June 23-24, 2016</li>
        <li><i class="fa fa-map-marker left"></i>Brussels, Belgium</li>
        </li>
      </ul>
    </section>
    <section class="content">
    <h2>Download</h2>
    <p><i class="fa fa-download"></i><a href="documents/call-for-papers-wire-2016.pdf">Call for Papers</a></p>
    <h2>Theme</h2>
    <p>IR theorists have been looking at complexity at least since the late 1990s. However, it has yet to be as institutionalized as in the mathematics, engineering, economic, natural and health sciences. The current search for new models of international governance, away from a centralized perspective forces us to take a harder look both at the promises and at the limitations of decentralized governance models based on complex system theory. In this context, questions pertain mainly to its theoretical usefulness and operationalization. Papers are sought that apply complex systems theory to the study of international affairs while addressing some of the questions above. The need is not for more papers on the potential usefulness of this approach. Rather, it is to see how it has been or can be applied in practice and what difference it makes.</p>
    </section>
    
    <aside>
      &nbsp;
    </aside>
  </article>
</div>
