---
title: "Workshop The Evolution of Institutional Complexes"
description: "A Biological Turn in the Study of International Institutions?"
---
<div class="wrapper">
  <article class="event">
    <div class="breadcrumb">
      <a href="/events.html">Events</a>
      <a href="javascript:void(0)">Workshop The Evolution of Institutional Complexes</a>
    </div>
    <header>
      <h1>Workshop The Evolution of Institutional Complexes: A Biological Turn in the Study of International Institutions? </h1>
    </header>
    <section class="practical">
      <ul>
        <li><i class="fa fa-calendar left"></i>September 30 Oktober 1 2016</li>
        <li><i class="fa fa-marker"></i>Québec City, Canada</li>
        </li>
      </ul>
    </section>
    <section class="content">
    <h2>Download</h2>
    <p><i class="fa fa-download"></i><a href="documents/list_of_participants.pdf">List of participants</a><br>
    <i class="fa fa-download"></i><a href="documents/tentative_program.pdf">Tentative program</a></p>
    <h2>Theme</h2>
    <p>This workshop seeks to break new ground in research on international institutions by borrowing concepts from evolutionary ecology to study institutional complexes. Applying ecological metaphors such as “complex systems”, “ecological niches”, “fractal patterns”, “punctuated equilibrium”, and “resilience,” we highlight the systemic and multifaceted feedback effects among populations of institutions and the ways in which these shape their evolution and adaptation. By drawing parallels between evolutionary ecology and regime complexes, the workshop will provide a rare opportunity to discuss the benefits and limits of biological metaphors for international studies.</p>
    <%= image_tag "workshop-evolution-complexes-1.jpg" %>
    <%= image_tag "workshop-evolution-complexes-2.jpg" %>
    <%= image_tag "workshop-evolution-complexes-3.jpg" %>
    <%= image_tag "workshop-evolution-complexes-4.jpg" %>
    </section>
    
    <aside>
      &nbsp;
    </aside>
  </article>
</div>
